@use "reset";
@use "function" as f;

:root {
  --primary-black: rgb(0, 0, 0);
  --secondary-black: #130D00;
  --light-black: #333;
  --primary-grey: #3A3A3A;
  --secondary-grey: #666666;
  --light-grey: #898989;
  --primary-white: #fff;
  --secondary-white: #D9D9D9;
  --light-white: #666;
  --overlay-color: rgba(0, 0, 0, 0.4);
  --swiper-pagination-bullet-horizontal-gap: 10px;
}

html {
  font-size: 1.125vw;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/HelveticaNeue.woff2') format('woff2'),
      url('../fonts/HelveticaNeue.woff') format('woff'),
      url('../fonts/HelveticaNeue.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/HelveticaNeue-Medium.woff2') format('woff2'),
      url('../fonts/HelveticaNeue-Medium.woff') format('woff'),
      url('../fonts/HelveticaNeue-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/HelveticaNeue-Bold.woff2') format('woff2'),
      url('../fonts/HelveticaNeue-Bold.woff') format('woff'),
      url('../fonts/HelveticaNeue-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Kefa';
  src: url('../fonts/Kefa-Regular.woff2') format('woff2'),
      url('../fonts/Kefa-Regular.woff') format('woff'),
      url('../fonts/Kefa-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kefa';
  src: url('../fonts/Kefa-Bold.woff2') format('woff2'),
      url('../fonts/Kefa-Bold.woff') format('woff'),
      url('../fonts/Kefa-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Helvetica Neue';
  font-weight: 400;
  font-style: normal;
  line-height: 1.2;
  background-color: #fff;
  color: #000;
  overflow: hidden;
  overflow-y: auto;
  font-size: f.rem(22);
}

.hide-text {
  font-size: 0;
}

input,
button,
textarea {
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
}

.no-scroll {
  height: 100%;
  overflow: hidden;
}

.page,
.section {
  width: 100%;
  height: auto;
}

.page {
  &.blur {
    -webkit-filter: blur(2px);
    filter: blur(2px);
  }
}

.section {
  position: relative;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Petrona", serif;
  font-optical-sizing: auto;
  color: #40491A;
  font-style: normal;
  line-height: 1.15;
}

h1 {
  font-weight: 600;
  font-size: f.rem(60);
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  font-size: f.rem(40);
}

.img {
  line-height: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

@supports (-webkit-text-stroke: #fcd535) {}

@media screen and (min-width: 1024px) {

  .sp {
    display: none !important;
  }

}

@media screen and (max-width: 1023px) {

  html {
    font-size: 16px;
  }

  body {
    font-size: f.rem(21);
  }

  h1 {
    font-size: f.rem(44);
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: f.rem(32);
  }
  
  .pc {
    display: none !important;
  }

  .no-scroll {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
  }

}

@media screen and (max-width: 480px) {
 html {
    font-size: 3.125vw;
  }

}

.loading__box {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 300;
  display: none;
}

.loading__box.active {
  display: block;
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -40px 0 0 -40px;
  border: 8px solid #000;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border-top: 8px solid #fff;
  width: 80px;
  height: 80px;
  -webkit-animation: spin 0.5s linear infinite;
  animation: spin 0.5s linear infinite;
}


@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}