@use "function" as f;

.section-footer {
    background-color: #3E2A27;

    p {
        margin: 0;
    }

    ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    a {
        color: #fff;
    }

    &--banner {
        width: 100%;
        line-height: 0;

        img {
            width: 100%;
            height: auto;
        }
    }

    &--container {
        width: 100%;
        max-width: f.rem(1280);
        margin: 0 auto;
    }

    &--top {
        display: flex;
        padding-top: f.rem(85);
        padding-bottom: f.rem(85);

        &__logo {
            flex: 0 0 f.rem(88);
            max-width: f.rem(88);
            height: auto;
            line-height: 0;
            margin-right: f.rem(340);

            img {
                width: 100%;
                height: auto;
            }
        }

        &__menu {
            li {
                &:not(:last-child) {
                    margin-bottom: f.rem(20);
                }
            }

            a {
                font-size: f.rem(14);
                display: inline-flex;
                align-items: center;
                gap: f.rem(8);
                text-decoration: none;
                font-family: 'Helvetica Neue';
                font-weight: 500;

                &::before {
                    content: '';
                    display: block;
                    width: 5px;
                    height: 5px;
                    -webkit-border-radius: 50%;
                    border-radius: 50%;
                    background-color: #fff;
                }
            }
        }

        &__form {
            flex: 0 0 f.rem(522);
            max-width: f.rem(522);
            margin-left: auto;
            background-color: #fff;
            padding: f.rem(46) f.rem(38);
            margin-top: f.rem(-400);
        }
    }

    &--mid {
        display: flex;
        color: #fff;
        padding: f.rem(50) 0;
        border-top: 1px solid #fff;

        .company-col,
        .slogan-col {
            flex: 0 0 f.rem(305);
            max-width: f.rem(305);
            font-size: f.rem(14);
            font-family: 'Helvetica Neue';
            font-weight: 400;
        }

        .company-col {
            margin-right: f.rem(120);

            li {
                display: flex;
                gap: f.rem(8);
                line-height: 1.57;
                padding-left: f.rem(6);

                &:not(:last-child) {
                    margin-bottom: f.rem(8);
                }

                &::before {
                    content: '';
                    display: block;
                    position: relative;
                    top: 0.8vw;
                    flex: 0 0 5px;
                    max-width: 5px;
                    height: 5px;
                    -webkit-border-radius: 50%;
                    border-radius: 50%;
                    background-color: #fff;
                }
            }
        }

        .company-name {
            font-size: f.rem(20);
            margin-bottom: f.rem(20);
        }

        .company-slogan {
            height: 100%;
            display: flex;
            flex-direction: column;
            line-height: 1.57;
        }

        .company-contact {
            font-size: f.rem(20);
            margin-top: auto;
        }

        .social-col {
            margin-left: auto;
            display: flex;
            flex-direction: column;
            font-size: f.rem(16);
            font-family: 'Helvetica Neue';
            font-weight: 400;
            text-align: right;
            line-height: 1.875;
        }
    }

    &--bot {
        display: flex;
        border-top: 1px solid #fff;
        padding-top: f.rem(36);
        padding-bottom: f.rem(90);
        //padding-left: f.rem(80);
        //padding-right: f.rem(80);

        .gov-col {
            flex: 0 0 f.rem(174);
            max-width: f.rem(174);
            margin-right: f.rem(250);
            line-height: 0;

            img {
                width: 100%;
                height: auto;
            }
        }

        .privacy-col {
            flex-grow: 1;
            display: flex;
            align-items: center;
            margin-left: auto;

            ul {
                display: flex;
                align-items: center;
                font-size: f.rem(12);

                li {
                    &:not(:last-child) {
                        margin-right: f.rem(90);
                    }

                }

                a {
                    text-decoration: none;
                    display: inline-flex;
                    align-items: center;
                    font-family: 'Helvetica Neue';
                    font-weight: 500;
                    gap: f.rem(8);

                    &::before {
                        content: '';
                        display: block;
                        width: 5px;
                        height: 5px;
                        -webkit-border-radius: 50%;
                        border-radius: 50%;
                        background-color: #fff;
                    }
                }
            }
        }
    }

    &--form {
        background-color: #fff;
    }

}


.form {
    &__field {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: f.rem(26);

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__caption {
        font-family: 'Helvetica Neue';
        font-weight: 400;
        color: #000;
        display: block;
        font-size: f.rem(12);
    }

    &__input {
        display: block;
        width: 100%;
        height: clamp(36px, f.rem(36), f.rem(36));
        font-family: 'Helvetica Neue';
        font-weight: 400;
        color: #000;
        font-size: f.rem(16);
        appearance: none;
        -webkit-appearance: none;
        background-color: #fff;
        border: none;
        padding: 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.4);
        box-shadow: none;
        outline: none;

        &::placeholder {
            color: #BEBEBE;
        }
    }

    &__group {
        display: flex;
        width: 100%;

        &--phone {
            gap: f.rem(22);
            border-bottom: 1px solid rgba(0, 0, 0, 0.4);

            .sl__field {
                width: auto;
            }

            input {
                display: inline-flex;
                flex-grow: 1;
                border: none;
                width: auto;
            }
        }

        &--date {
            .form__field {
                margin-bottom: 0;
            }

            gap: f.rem(22);
        }
    }

    &__error {
        display: none;
        font-family: 'Helvetica Neue';
        font-weight: 400;
        color: #E02229;
        font-size: f.rem(12);
    }

    &__submit {
        width: 100%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background-color: #141C0A;
        color: #fff;
        height: clamp(52px, f.rem(52), f.rem(52));
        -webkit-border-radius: 60px;
        border-radius: 60px;
        font-family: 'Helvetica Neue';
        font-weight: 500;
        font-size: f.rem(14);

        span {
            position: relative;
            line-height: 1.428571429;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            gap: f.rem(8);

            &::before {
                content: '';
                display: block;
                width: 5px;
                height: 5px;
                -webkit-border-radius: 50%;
                border-radius: 50%;
                background-color: #fff;
            }
        }
    }
}


.sl {
    position: relative;

    &__field {
        width: 100%;

        &.open {
            .sl__box {
                display: block;
            }
        }

        &--time {
            .sl__header {
                border-bottom: 1px solid rgba(0, 0, 0, 0.4);
            }
        }

        &.default {
            .sl__header {
                color: #BEBEBE;
            }
        }
    }

    &__header {
        display: inline-flex;
        align-items: center;
        gap: f.rem(8);
        font-size: f.rem(16);
        font-family: 'Helvetica Neue';
        font-weight: 400;
        cursor: pointer;
        width: 100%;
        height: clamp(36px, f.rem(36), f.rem(36));
        color: #000;
        cursor: pointer;

        #imgCountry {
            width: f.rem(16);
            height: auto;
        }

        #nameCountry {
            display: block;
        }

    }


    &__icon {
        display: flex;
        flex: 0 0 clamp(10px, f.rem(10), f.rem(10));
        max-width: clamp(10px, f.rem(10), f.rem(10));
        height: clamp(10px, f.rem(10), f.rem(10));
        color: #000;
        margin-left: auto;

        svg {
            width: 100%;
            height: 100%;
        }
    }

    &__box {
        position: absolute;
        left: 0;
        top: 100%;
        -webkit-transform: translateY(7px);
        transform: translateY(7px);
        display: none;
        width: 100%;
        height: auto;
        box-shadow: 0px 4px 12px 0px #00000012;
        -webkit-border-radius: clamp(6px, f.rem(6), f.rem(6));
        border-radius: clamp(6px, f.rem(6), f.rem(6));
        background-color: #fff;
        z-index: 2;

        ul {
            max-height: 320px;
            overflow: hidden;
            overflow-y: auto;
            -webkit-overflow-scrolling: touch;
            scrollbar-width: thin;
        }

        li {
            position: relative;
            font-family: 'Helvetica Neue';
            font-weight: 400;
            text-align: center;
            font-size: f.rem(16);
            color: #000;
            display: flex;
            align-items: center;
            justify-content: center;
            height: f.rem(46);
            cursor: pointer;
            cursor: pointer;

            &:not(:last-child) {
                border-bottom: 1px solid #E0E0E0;
            }

            margin-bottom: 1px;
            -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;

            &.selected {}
        }
    }

}

.booking {
    .title {
        font-size: f.rem(32);
        margin-bottom: f.rem(36);
    }
}


@media screen and (max-width: 989px) {
    .section-footer {

        &--container {
            max-width: 100%;
        }

        &--top {
            flex-wrap: wrap;
            padding: 0;

            &__logo {
                order: 2;
                padding: f.remSp(60) 5.333333333% f.remSp(0) 5.333333333%;
                width: 100%;

                img {
                    width: f.remSp(88);
                    height: auto;
                }
            }

            &__menu {
                flex: 0 0 100%;
                max-width: 100%;
                order: 3;
                padding: f.remSp(42) 5.333333333%;

                li {
                    &:not(:last-child) {
                        margin-bottom: f.remSp(14);
                    }
                }

                a {
                    font-size: f.remSp(14);
                    gap: f.remSp(12);
                }
            }

            &__form {
                flex: 0 0 100%;
                max-width: 100%;
                padding: f.remSp(60) 5.333333333%;
                margin: 0;
                order: 1;
            }

        }

        &--mid {
            flex-wrap: wrap;
            padding: 0 5.333333333%;
            padding-bottom: f.remSp(36);
            border: none;

            .company-col,
            .slogan-col,
            .social-col {
                flex: 0 0 100%;
                max-width: 100%;
            }

            .company-col,
            .slogan-col {
                font-size: f.remSp(14);
            }

            .company-col {
                li {
                    position: relative;
                    padding-left: f.remSp(6);
                    gap: f.remSp(12);

                    &:not(:last-child) {
                        margin-bottom: f.remSp(8);
                    }

                    &::before {
                        top: f.remSp(8);
                    }
                }
            }

            .company-col {
                padding-top: f.remSp(36);
                padding-bottom: f.remSp(36);
                border-top: 1px solid #fff;
            }

            .company-name {
                font-size: f.remSp(20);
                margin-bottom: f.remSp(26);
            }

            .slogan-col {
                padding-bottom: f.remSp(36);
            }

            .company-contact {
                font-size: f.remSp(20);
                margin-top: f.remSp(20);

            }

            .social-col {
                font-size: f.remSp(16);
                display: flex;
                flex-direction: row;
                column-gap: f.remSp(16);
            }
        }

        &--bot {
            flex-wrap: wrap;
            border: none;
            padding: 0 5.333333333%;
            padding-bottom: f.remSp(60);

            .gov-col {
                border-top: 1px solid #fff;
                padding: f.remSp(36) 0;

                img {
                    width: f.remSp(174);
                }
            }

            .gov-col,
            .privacy-col {
                flex: 0 0 100%;
                max-width: 100%;
            }

            .privacy-col {


                ul {
                    flex-direction: column;
                    font-size: f.remSp(12);
                    row-gap: f.remSp(20);

                    li {
                        width: 100%;
                        margin: 0 !important;

                        &:not(:last-child) {
                            margin-bottom: f.remSp(14);
                        }

                        a {
                            gap: f.remSp(12);
                        }
                    }
                }
            }
        }
    }

    .form {
        &__field {
            margin-bottom: f.remSp(26);
        }

        &__caption {
            font-size: f.remSp(12);
        }

        &__input {
            font-size: f.remSp(16);
        }

        &__group {

            &--phone {
                gap: f.remSp(20);
            }

            &--date {
                gap: f.remSp(20);
            }
        }

        &__error {
            font-size: f.remSp(12);
        }

        &__submit {
            height: clamp(52px, f.remSp(52), f.remSp(52));
            font-size: f.remSp(14);

            span {
                gap: f.remSp(8);
            }
        }
    }



    .sl {

        &__header {
            height: clamp(36px, f.remSp(36), f.remSp(36));
            font-size: f.remSp(16);
            gap: f.remSp(8);

            #imgCountry {
                width: f.remSp(16);
                height: auto;
            }

        }


        &__icon {
            flex: 0 0 clamp(10px, f.remSp(10), f.remSp(10));
            max-width: clamp(10px, f.remSp(10), f.remSp(10));
            height: clamp(10px, f.remSp(10), f.remSp(10));
        }

        &__box {
            -webkit-border-radius: clamp(6px, f.remSp(6), f.remSp(6));
            border-radius: clamp(6px, f.remSp(6), f.remSp(6));

            li {
                height: f.remSp(46);
                font-size: f.remSp(14);

                &.selected {}
            }
        }

    }

    .booking {
        .title {
            font-size: f.remSp(32);
            margin-bottom: f.remSp(36);
            padding-right: f.remSp(100);
        }
    }


}