@use "function" as f;

.gradient {
    background: #40491A;
}

.utility-bar,
.header-wrapper {
    &.gradient {
        background-color: #40491A;
    }
}

.header {
    &-wrapper {
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }

}

@media screen and (min-width: 1024px) {
    sticky-header {
        padding-top: clamp(10px, f.rem(12), 20px);
        padding-bottom: clamp(10px, f.rem(12), 20px);
    }

    .header {
        width: 100%;
        max-width: 100%;

        &:not(.drawer-menu).page-width {
            padding-left: 0;
            padding-right: 0;
            max-width: clamp(900px, f.rem(1280), 1577px);
        }

        &__heading-link {
            padding: 0;
            margin-left: 0 !important;
        }

        &__heading-logo-wrapper {
            width: clamp(30px, f.rem(55), 51px);
            color: #fff;

            img {
                width: 100%;
                height: auto;
            }
        }

        &__inline-menu {
            .list-menu--inline {

                >li {
                    margin-right: clamp(20px, f.rem(52), 46px);

                    &:last-child {
                        margin-right: clamp(20px, f.rem(26), 23px)
                    }

                    summary.list-menu__item {
                        padding-right: clamp(18px, f.rem(18), 18px);
                    }

                    .list-menu__item {
                        padding: 0;
                        font-size: clamp(10px, f.rem(14), 16px);
                        font-family: 'Helvetica Neue';
                        font-weight: 500;
                        position: relative;
                        display: inline-flex;
                        align-items: center;
                        line-height: 1.6;
                        gap: f.rem(8);
                        color: #fff;

                        .icon-caret {
                            right: 0;
                        }

                        &::before {
                            content: '';
                            position: relative;
                            display: block;
                            width: 5px;
                            height: 5px;
                            background-color: #fff;
                            -webkit-border-radius: 50%;
                            border-radius: 50%;
                        }
                    }
                }
            }
        }

        .disclosure {
            &__button {
                padding: 0;
                height: auto;
                gap: f.rem(8);

                img {
                    flex: clamp(12px, f.rem(240), 20px);
                    max-width: clamp(12px, f.rem(240), 20px);
                    height: clamp(12px, f.rem(240), 20px);
                    -webkit-border-radius: 50%;
                    border-radius: 50%;
                }

                span {
                    font-size: clamp(10px, f.rem(14), 14px);
                    font-family: 'Helvetica Neue';
                    font-weight: 500;
                    color: #fff;
                }
            }
        }

        &__icons {
            padding-right: 0;
        }

        &__icon {
            width: clamp(12px, f.rem(24), 20px);
            height: clamp(12px, f.rem(24), 20px);
        }

        localization-form {
            display: flex;
            align-items: center;
        }

        &__icon--cart {
            margin-right: 0;

            &::before {
                content: '';
                position: absolute;
                right: clamp(-5px, f.rem(-10), f.rem(-10));
                top: 0;
                display: block;
                width: clamp(10px, f.rem(10), 8px);
                height: clamp(10px, f.rem(10), 8px);
                -webkit-border-radius: 50%;
                border-radius: 50%;
                background-color: #EB5757;
                border: 2px solid #fff;
            }
        }

        .localization-form__select .icon-caret {
            top: calc(50% - .3rem);
        }

        .h_spr {
            display: block;
            width: 1px;
            height: f.rem(14);
            background-color: #B1B1B1;
            margin: 0 f.rem(14);
        }
    }

    .js .header-localization:not(.menu-drawer__localization) .localization-form__select {
        height: auto;
        padding-left: 0;
        padding-right: f.rem(18);

        .icon-caret {
            right: 0;
        }
    }

    .scrolled-past-header {
        .header-wrapper {
            background-color: #fff;
        }

        .header {
            &__heading-logo-wrapper {
                width: clamp(20px, f.rem(38), 40px) !important;
                color: #0C230B;
            }

            &__inline-menu {
                .list-menu--inline {
                    >li {
                        .list-menu__item {
                            color: #0C230B;

                            .header__active-menu-item {
                                color: #0C230B;
                            }

                            &::before {
                                background-color: #0C230B;
                            }
                        }
                    }
                }
            }

            &__icon--account,
            &__icon--search,
            &__icon--cart {
                color: #0C230B;
            }

            .disclosure {
                &__button {
                    color: #0C230B;

                    span {
                        color: #0C230B;
                    }
                }
            }

            &__icon--cart {
                &::before {
                    border: 1px solid #0C230B;
                }
            }

            .h_spr {
                background-color: #0C230B;
            }
        }
    }
}

@media screen and (max-width: 1400px) {}

@media screen and (max-width: 989px) {
    .header {
        &__heading-logo-wrapper {
            width: 4rem;
        }

        &__icon--cart {
            &::before {
                content: '';
                position: absolute;
                right: clamp(-4px, f.remSp(-8), f.remSp(-8));
                top: f.remSp(6);
                display: block;
                width: clamp(8px, f.remSp(8), f.remSp(8));
                height: clamp(8px, f.remSp(8), f.remSp(8));
                -webkit-border-radius: 50%;
                border-radius: 50%;
                background-color: #EB5757;
                border: 1px solid #fff;
            }

            svg {
                width: 2.4rem;
                height: 2.4rem;
            }
        }
    }

    .scrolled-past-header {
        .header {
            &__heading-logo-wrapper {
                width: 3.2rem !important;
                color: #0C230B;
            }

            &-wrapper {
                background-color: #fff;
            }

            &__icon--menu,
            &__icon--account,
            &__icon--search,
            &__icon--cart {
                color: #0C230B;
            }

            &__icon--cart {
                &::before {
                    border-color: #0C230B;
                }
            }
        }
    }
}

//shopify-section shopify-section-group-header-group section-header shopify-section-header-sticky
//shopify-section shopify-section-group-header-group section-header shopify-section-header-sticky scrolled-past-header