@use "function" as f;



.home {

    &-discover {
        width: 100%;
        background-color: #B6C0AC;

        &--container {
            position: relative;
            width: 100%;
        }

        &--box {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
        }

        &--img {
            flex: 0 0 64.444444444%;
            max-width: 64.444444444%;
            line-height: 0;

            img {
                width: 100%;
                height: auto;
            }
        }

        &--txt {
            flex: 0 0 35.555555556%;
            max-width: 35.555555556%;
            padding: f.rem(80) f.rem(40) 0 f.rem(40);

            h2 {
                padding-right: f.rem(100);
                margin-bottom: f.rem(25);
            }

            p {
                font-weight: 300;
                color: #0C230BCC;
            }
        }

        &--link {
            padding-top: f.rem(28);
        }


    }
}


@media screen and (max-width: 989px) {
    .home {
        &-discover {
            &--container {
                max-width: 100%;
            }
            &--img,
            &--txt {
                flex: 0 0 100%;
                max-width: 100%;
            }
            &--txt {
                padding: f.remSp(40) 5.333333333%;
                h2{
                    margin-bottom: f.remSp(30);
                }
            }
            &--link {
                padding-top: f.remSp(22);
            }
        }
       
    }
}