@use "function" as f;


.home {

    &-infrastructure {
        width: 100%;
        padding: f.rem(114) 0;
        background-color: #DBE0DF;

        &--container {
            position: relative;
            width: 100%;
            max-width: f.rem(1280);
            margin: 0 auto;
        }

        &--box {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
        }

        h2 {
            margin-top: f.rem(30);
            padding-right: f.rem(100);
        }

        &--caption {
            margin: 0;
        }
        &--video {
            position: relative;
            display: block;
            width: f.rem(305);
            height: auto;
            margin-top: auto;

            &::before,
            &::after {
                content: '';
            }

            &::before {
                display: block;
                width: 100%;
                height: auto;
                padding-top: 127.868852459%;
            }

            video {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                -webkit-object-fit: cover;
                object-fit: cover;
            }
        }

        &--sub {
            flex: 0 0 33.828125%;
            max-width: 33.828125%;
            display: flex;
            flex-direction: column;
            &--img {
                 position: relative;
                display: block;
                width: f.rem(305);
                height: auto;
                margin-top: auto;
                line-height: 0;
                img {
                    width: 100%;
                    height: auto;
                }
            }
        }

        &--main {
            flex: 0 0 66.171875%;
            max-width: 66.171875%;
        }

        &--list {
            display: block;
            width: 100%;
            height: auto;
            counter-reset: counter;
        }

        &--item {
            position: relative;
            display: flex;
            align-items: center;
            padding: f.rem(60) f.rem(80);
            border-bottom: 1px solid rgba(0, 0, 0, 0.5);
            border-left: 1px solid rgba(0, 0, 0, 0.5);
            border-right: 1px solid rgba(0, 0, 0, 0.5);
            counter-increment: counter;

            &::before {
                content: counter(counter);
                position: absolute;
                left: 0;
                top: 0;
                width: f.rem(50);
                height: f.rem(50);
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: f.rem(18);
                font-weight: 300;
                font-style: italic;
                font-family: 'Petrona';
                font-weight: 300;
                font-style: italic;
                border-right: 1px solid rgba(0, 0, 0, 0.5);
                border-bottom: 1px solid rgba(0, 0, 0, 0.5);
                color: #000;
            }

            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4),
            &:nth-child(5),
            &:nth-child(6),
            &:nth-child(7),
            &:nth-child(8),
            &:nth-child(9) {
                &::before {
                    content: "0" counter(counter);
                }
            }

            &:nth-child(3n + 1) {
                &::before {
                    background-color: #A9B789;
                }
            }

            &:nth-child(3n + 2) {
                &::before {
                    background-color: #D9C9B6;
                }
            }

            &:nth-child(3n + 3) {
                &::before {
                    background-color: #C6A9A9;
                }
            }

            &__content {
                flex-grow: 1;
                max-width: calc(100% - f.rem(100));
                padding-right: f.rem(80);

                h3 {
                    font-family: 'Petrona';
                    font-weight: 400;
                    font-size: f.rem(28);
                    margin-top: 0;
                    margin-bottom: f.rem(24);
                }

                p {
                    font-family: 'Helvetica Neue';
                    font-weight: 400;
                    font-size: f.rem(16);
                    color: rgba(0, 0, 0, 0.6);
                    line-height: 1.6;
                    margin: 0;
                }
            }

            &__icon {
                width: f.rem(100);
                line-height: 0;

                img {
                    width: 100%;
                    height: auto;
                }
            }
        }

    }
}


@media screen and (max-width: 989px) {
    .home {
        &-infrastructure {
            padding: f.remSp(60) 0;

            &--container {
                max-width: 100%;
            }
            &--caption,
            h2 {
                width: f.remSp(335);
                margin: 0 auto;
                margin-bottom: f.remSp(30);
            }

            &--sub,
            &--main {
                flex: 0 0 100%;
                max-width: 100%;
            }

            &--sub {
                &--img {
                    display: none;
                }
            }

            &--video {
                display: none;
            }

            &--item {
                border-left: none;
                &:nth-child(1) {
                    border-top: 1px solid rgba(0, 0, 0, 0.5);
                }

                border-right: none;
                padding-top: f.remSp(65);
                padding-bottom: f.remSp(34);
                padding-left: 5.333333333%;
                padding-right: 5.333333333%;

                &::before {
                    width: f.remSp(42);
                    height: f.remSp(42);
                    font-size: f.remSp(14);
                }

                &__content {
                    max-width: calc(100% - f.remSp(61));
                    padding-right: f.remSp(15);

                    h3 {
                        font-size: f.remSp(24);
                        margin-bottom: f.remSp(20);
                    }

                    p {
                        font-size: f.remSp(14);
                    }
                }

                &__icon {
                    flex: 0 0 f.remSp(61);
                    max-width: f.remSp(61);
                }
            }
        }
    }
}