@use "function" as f;



.home {

    &-discover {
        width: 100%;
        background-color: #B6C0AC;

        &--container {
            position: relative;
            width: 100%;
        }

        &--box {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
        }

        &--img {
            flex: 0 0 64.444444444%;
            max-width: 64.444444444%;
            line-height: 0;

            img {
                width: 100%;
                height: auto;
            }
        }

        &--txt {
            flex: 0 0 35.555555556%;
            max-width: 35.555555556%;
            padding: f.rem(80) f.rem(40);

            h2 {
                font-size: f.rem(44);
                line-height: 1.2;
                color: #0C230B;
                padding-right: f.rem(100);
                margin-top: 0;
                margin-bottom: f.rem(36);
            }

            p {
                font-size: f.rem(20);
                color: #0C230BCC;
                font-weight: 300;
                line-height: 1.4;
                margin: 0;
            }
        }

        &--link {
            display: flex;
            width: 100%;
            padding-top: f.rem(28);

            a {
                position: relative;
                text-decoration: none;
                color: #141C0A;
                font-size: f.rem(14);
                font-weight: 700;
                text-transform: uppercase;
                display: inline-flex;
                align-items: center;
                gap: 8px;

                &::before {
                    content: '';
                    display: block;
                    width: 5px;
                    height: 5px;
                    background-color: #000;
                    -webkit-border-radius: 50%;
                    border-radius: 50%;
                }
            }
        }


    }
}


@media screen and (max-width: 989px) {
    .home {
        &-discover {
            &--container {
                max-width: 100%;
            }
            &--img,
            &--txt {
                flex: 0 0 100%;
                max-width: 100%;
            }
            &--txt {
                padding: f.remSp(40) 5.333333333%;
                h2{
                    font-size: f.remSp(32);
                    margin-bottom: f.remSp(30);
                }
                p{
                    font-size: f.remSp(16);
                }
            }
            &--link {
                padding-top: f.remSp(24);
                a {
                    font-size: f.remSp(14);
                }
            }
        }
       
    }
}