@use "function" as f;


.home {

    &-service {
        width: 100%;
        background-color: #F3F0EB;
        padding: clamp(40px, f.rem(114), 160px) 0;

        &--container {
            position: relative;
            width: 100%;
            max-width: clamp(900px, f.rem(1280), 1577px);
            margin: 0 auto;
        }

        &--box {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            height: auto;
        }

        &--sub {
            flex: 0 0 33.828125%;
            max-width: 33.828125%;
        }

        h2 {
            padding-right: f.rem(126);
        }

        &--main {
            flex: 0 0 66.171875%;
            max-width: 66.171875%;

            &__content {
                width: f.rem(522);
                padding-bottom: clamp(30px, f.rem(62), 76px);
            }
        }

        &--list {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            padding-top: f.rem(110);

        }

        &--item {
            flex: 0 0 calc(50% - f.rem(10));
            max-width: calc(50% - f.rem(10));
            padding: f.rem(40) f.rem(30) f.rem(0) f.rem(30);
            margin-bottom: f.rem(75);

            &:nth-child(4n + 1) {
                background-color: #A9B789;
                margin-top: f.rem(-110);
            }

            &:nth-child(4n + 2) {
                background-color: #DBE0DF;
                margin-left: f.rem(20);
            }

            &:nth-child(4n + 3) {
                background-color: #C6A9A9;
                margin-top: f.rem(-110);
            }

            &:nth-child(4n + 4) {
                background-color: #D9C9B6;
                margin-left: f.rem(20);
            }

            &__content {
                h3 {
                    font-family: 'Petrona';
                    font-weight: 400;
                    color: #000;
                    font-size: clamp(13px, f.rem(28), 32px);
                    line-height: 1.4;
                    margin: 0;
                    margin-bottom: f.rem(4);
                    letter-spacing: -0.05vw;
                }

                p {
                    font-family: 'Helvetica Neue';
                    font-weight: 400;
                    color: #000;
                    font-size: clamp(10px, f.rem(14), 18px);
                    line-height: 1.6;
                    margin: 0;
                    letter-spacing: 0;
                }
            }

            &__action {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                height: f.rem(120);
            }

            &__img {
                position: absolute;
                left: 50%;
                top: 0;
                -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
                -webkit-transition: transform 0.3s ease-in-out;
                transition: transform 0.3s ease-in-out;
                line-height: 0;
                width: clamp(50px, f.rem(190), 236px);
                display: flex;
                align-items: center;
                justify-content: flex-end;

                >img {
                    width: 100%;
                    height: auto;
                }
            }

            &__link {
                position: relative;
                text-decoration: none;
                color: #000;
                font-size: clamp(10px, f.rem(14), 18px);
                font-weight: 500;
                text-transform: uppercase;
                display: inline-flex;
                align-items: center;
                gap: f.rem(12);
                opacity: 0;
                -webkit-transition: opacity 0.3s ease-in-out;
                transition: opacity 0.3s ease-in-out;

                img {
                    width: clamp(20px, f.rem(44), 52px);
                    height: auto;
                }
            }

            &:hover {
                .home-service--item__img {
                    -webkit-transform: translateX(-100%);
                    transform: translateX(-100%);
                }

                .home-service--item__link {
                    opacity: 1;
                }
            }
        }


    }
}


@media screen and (max-width: 989px) {
    .home {
        &-service {
            padding: f.remSp(60) 5.333333333%;

            &--container {
                max-width: 100%;
            }

            h2 {
                margin-bottom: f.remSp(30);
                padding: 0;
            }

            &--sub,
            &--main {
                flex: 0 0 100%;
                max-width: 100%;
            }

            &--main {
                &__content {
                    width: 100%;
                }
            }

            &--list {
                padding-top: f.remSp(24);
                width: 100%;
                row-gap: f.remSp(24);
            }

            &--item {
                flex: 0 0 100%;
                max-width: 100%;
                padding: f.remSp(30) f.remSp(23);
                margin-left: 0 !important;
                margin-top: 0 !important;

                &__content {
                    h3 {
                        font-size: f.remSp(24);
                        margin-bottom: f.remSp(8);
                    }

                    p {
                        font-size: f.remSp(14);
                    }

                    padding-bottom: f.remSp(10);
                }

                &__action {
                    height: f.remSp(100);
                    justify-content: space-between;
                    align-items: flex-end;
                }

                &__img {
                    position: relative;
                    left: 0;
                    top: 0;
                    -webkit-transform: none !important;
                    transform: none !important;
                    width: f.remSp(97);
                }

                &__link {
                    opacity: 1;
                    font-size: f.remSp(14);
                    gap: f.remSp(12);

                    img {
                        width: f.remSp(44);
                    }
                }
            }
        }
    }
}