@use "function" as f;

.home {

    &-about {
        background-color: #F3F0EB;
        width: 100%;
        padding: f.rem(114) 0;

        &--container {
            width: 100%;
            max-width: f.rem(1280);
            display: block;
            margin: 0 auto;
        }

        &--box {
            display: flex;
            flex-wrap: wrap;
        }

        &--sub {
            flex: 0 0 33.828125%;
            max-width: 33.828125%;
            display: flex;
            flex-direction: column;
        }

        &--main {
            flex: 0 0 66.171875%;
            max-width: 100%;
        }

        h2 {
            padding-right: f.rem(80);
        }

        &--caption {
            width: 100%;
        }

        &--content {
            width: f.rem(522);
        }

        &--link {
            padding-top: f.rem(30);
            padding-bottom: f.rem(90);
        }

        &--img {
            line-height: 0;
            width: 100%;

            img {
                width: 100%;
                height: auto;
            }
        }

        &--video {
            position: relative;
            display: block;
            width: f.rem(305);
            height: auto;
            margin-top: auto;

            &::before,
            &::after {
                content: '';
            }

            &::before {
                display: block;
                width: 100%;
                height: auto;
                padding-top: 100%;
            }

            video {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                -webkit-object-fit: cover;
                object-fit: cover;
            }
        }
    }
}


@media screen and (max-width: 989px) {

    .home {
        &-about {
            padding: f.remSp(60) 5.333333333%;

            &--container {
                max-width: 100%;
            }

            h2 {
                padding: 0;
                margin-bottom: f.remSp(30);
            }

            &--sub,
            &--main {
                flex: 0 0 100%;
                max-width: 100%;
            }

            &--video {
                display: none;
            }

            &--content {
                width: 100%;
            }

            &--link {
                padding-top: f.remSp(22);
                padding-bottom: f.remSp(42);
            }

        }
    }
}