@use "function" as f;


.home {

    &-popular {
        width: 100%;
        padding: f.rem(120) 0;
        background-color: #F3F0EB;
        overflow: hidden;
        position: relative;

        &--container {
            position: relative;
            width: 100%;
            max-width: f.rem(1280);
            margin: 0 auto;
        }

        &--box {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
        }

        &--header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: f.rem(44);
        }


        h2 {
            font-size: f.rem(44);
            line-height: 1.2;
            color: #0C230B;
            margin: 0;
        }

        &--caption {
            display: block;
            font-size: f.rem(14);
            border-bottom: 1px solid rgba(0, 0, 0, 0.5);
            margin-bottom: f.rem(36);
            padding-bottom: f.rem(22);
            color: #151C0A;
            line-height: 1.4;
        }


        &--link {
            display: inline-flex;

            a {
                position: relative;
                text-decoration: none;
                color: #141C0A;
                font-size: f.rem(16);
                font-weight: 500;
                text-transform: uppercase;
                display: inline-flex;
                align-items: center;
                gap: 8px;

                &::before {
                    content: '';
                    display: block;
                    width: 5px;
                    height: 5px;
                    background-color: #000;
                    -webkit-border-radius: 50%;
                    border-radius: 50%;
                }
            }
        }

        &--list {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: f.rem(20);
            margin-bottom: f.rem(20);
        }

        &--item {
            border: 1px solid rgba(0, 0, 0, 0.1);
            -webkit-border-radius: 4px;
            border-radius: 4px;
            overflow: hidden;
            padding: f.rem(32) f.rem(40);

            &__content {
                h3 {
                    color: #0C230B;
                    font-size: f.rem(20);
                    line-height: 1.6;
                    text-align: center;
                    font-weight: 600;
                    margin: 0;
                }
            }

            &__img {
                line-height: 0;
                width: auto;
                height: auto;
                max-width: f.rem(147);
                margin: 0 auto;
                margin-bottom: f.rem(10);

                img {
                    width: 100%;
                    height: auto;
                }
            }
        }

    }
}


@media screen and (min-width: 990px) {
    .home {
        &-popular {
            &--list {
                display: grid !important;
            }
            .slick-track {
                -webkit-transform: none !important;
                transform: none !important;
                width: 100% !important;
            }
            .slick-dots {
                display: none !important;
            }
        }
    }
}

@media screen and (max-width: 989px) {
    .home {
        &-popular {
            padding: f.remSp(60) 5.333333333%;

            &--container {
                max-width: 100%;
            }

            &--caption {
                font-size: f.remSp(14);
                margin-bottom: f.remSp(30);
                padding-bottom: f.remSp(16);
            }

            h2 {
                font-size: f.remSp(32);
            }

            &--link {

                a {
                    font-size: f.remSp(14);
                }
            }

            &--header {
                margin-bottom: f.remSp(30);
            }

            &--list {
                display: grid !important;
                grid-template-columns: repeat(2, 1fr);
                gap: f.remSp(10);
                margin-bottom: f.remSp(10);
            }

            &--item {
                padding: f.remSp(20) f.remSp(10);

                h3 {
                    font-size: f.remSp(14);
                }

                &__img {
                    max-width: f.remSp(80);
                    margin-bottom: f.remSp(10);
                }
            }
        }
    }
}