@use "function" as f;


.home {

    &-practice {
        width: 100%;
        background-color: #F3F0EB;
        padding: clamp(30px, f.rem(88), 120px) 0;
        overflow: hidden;
        position: relative;

        &--container {
            position: relative;
            width: 100%;
            max-width: clamp(900px, f.rem(1280), 1577px);
            margin: 0 auto;
        }

        &--box {
            width: 100%;
            display: block;
        }

        h2 {
            margin-bottom: f.rem(40);
        }

        &--link {
            padding-top: f.rem(30);
        }


        &__item {
            position: relative;
            width: 100%;
            height: auto;
            overflow: hidden;

            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: f.rem(4);
                width: 100%;
                height: 100%;
                background-image: url(../images/tree.png);
                background-position: right bottom;
                background-repeat: no-repeat;
                background-size: clamp(100px, f.rem(151), 189px) auto;
                pointer-events: none;
                opacity: 0.3;
            }

            &:nth-child(3n + 1) {
                background-color: #DBE0DF;
            }

            &:nth-child(3n + 2) {
                background-color: #D9C9B6;
            }

            &:nth-child(3n + 3) {
                background-color: #C6A9A9;
            }
        }

        &--txt {
            position: relative;
            padding-top: clamp(12px, f.rem(30), 35px);
            padding-bottom: clamp(6px, f.rem(38), 46px);
            padding-left: clamp(10px, f.rem(26), 27px);
            padding-right: clamp(10px, f.rem(26), 27px);


            h3 {
                font-size: clamp(14px, f.rem(28), 32px);
                font-family: 'Petrona';
                font-weight: 500;
                line-height: 1.4;
                margin: 0;
                padding-right: f.rem(140);
                letter-spacing: -0.05vw;
            }
        }

        &--img {
            line-height: 0;
            width: 100%;
            height: auto;

            img {
                width: 100%;
                height: auto;
            }
        }

    }
}

@media screen and (min-width: 1025px) {
    .home {
        &-practice {
            .slick-dots {
                display: none !important;
            }
            &--img {
                img {
                    -webkit-transition: filter 0.3s ease-in-out;
                    transition: filter 0.3s ease-in-out;
                    -webkit-filter: grayscale(1);
                    filter: grayscale(1);
                }
            }

            &__item {
                box-shadow: 0px 10px 46.9px 0px rgba(97, 124, 82, 0);
                -webkit-transition: box-shadow 0.3s ease-in-out;
                transition: box-shadow 0.3s ease-in-out;

                &:hover {
                    box-shadow: 0px 10px 46.9px 0px rgba(97, 124, 82, 0.3098039216);
                    .home-practice--img {
                        img {
                            -webkit-filter: grayscale(0);
                            filter: grayscale(0);
                        }

                    }
                }
            }

        }
    }

}

@media screen and (min-width: 990px) {
    .home {
        &-practice {
            .slick-list {
                width: calc(100% + f.rem(30));
            }
            .slick-track {
                width: 100%;
            }
            .slick-track {
                .home-practice__item {
                    margin-right: f.rem(20);
                }
            }
        }
    }
}

@media screen and (max-width: 989px) {
    .home {
        &-practice {
            padding: f.remSp(60) 5.333333333%;

            &--container {
                max-width: 100%;
            }

            &--box {
                grid-template-columns: repeat(1, 1fr);
                gap: f.remSp(12);
            }

            .slick-list {
                overflow: visible;

            }

            .slick-slide {
                margin-right: f.remSp(12);
            }

            h2 {
                margin-bottom: f.remSp(30);
            }

            &--link {
                padding-top: f.remSp(22);
            }

            &__item {
                &::before {
                    background-size: f.remSp(102) auto;
                    top: f.remSp(22);
                }
            }

            &--txt {
                padding: f.remSp(18) f.remSp(12);

                h3 {
                    font-size: f.remSp(20);
                    padding-right: f.remSp(112);
                }
            }

        }
    }
}