@use "function" as f;
@use "fonts.scss";

body {
  font-family: 'Helvetica Neue';
  font-weight: 300;
  font-style: normal;
  line-height: 1.4;
  color: #0C230B;
  //opacity: 0;
}

.caption {
  display: block;
  font-family: 'Helvetica Neue';
  font-weight: 400;
  color: #151C0A;
  line-height: 1.4;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  padding-bottom: clamp(10px, f.rem(22), 24px);
  margin-bottom: clamp(16px, f.rem(46), 46px);
  font-size: clamp(10px, f.rem(14), 16px);
  text-transform: uppercase;
}

.title {
  font-family: 'Petrona';
  font-weight: 500;
  line-height: 1.2;
  color: #0C230B;
  font-size: clamp(16px, f.rem(44), 52px);
  margin: 0;
  letter-spacing: -0.173611111vw;
}

.content {
  &.color-white {
    color: rgba(255, 255, 255, 0.8);
  }

  p {
    font-family: 'Helvetica Neue';
    font-weight: 300;
    line-height: 1.4;
    margin: 0;
    font-size: clamp(12px, f.rem(20), 24px);
    margin-bottom: clamp(4px, f.rem(14), 11px);
    letter-spacing: 0;
  }
}

.dot-link {
  display: flex;
  width: 100%;

  a {
    position: relative;
    font-family: 'Helvetica Neue';
    font-weight: 500;
    text-transform: uppercase;
    color: #141C0A;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    gap: f.rem(8);
    font-size: clamp(10px, f.rem(16), 18px);

    &::before {
      content: '';
      display: block;
      width: 5px;
      height: 5px;
      background-color: #141C0A;
      -webkit-border-radius: 50%;
      border-radius: 50%;
    }

  }

  &.color-white {
    a {
      color: #fff;

      &::before {
        background-color: #fff;
      }
    }
  }
}

.color-white {
  color: #fff;
}

@media screen and (min-width: 1025px) {

  .dot-link {
    a {
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;

      &:hover {
        text-decoration: underline;
      }
    }

  }

}

@media screen and (min-width: 990px) {
  .sp {
    display: none !important;
  }
}

@media screen and (max-width: 989px) {
  .pc {
    display: none !important;
  }

  .caption {
    font-size: f.remSp(14);
    padding-bottom: f.remSp(20);
    margin-bottom: f.remSp(30);
  }

  .title {
    font-size: f.remSp(31);
  }


  .content {
    p {
      font-size: f.remSp(16);
      margin-bottom: f.remSp(14);
    }
  }


  .dot-link {

    a {
      gap: f.remSp(8);
      font-size: f.remSp(14);

    }

  }

  .slick-dots li {
    width: 40px !important;
    height: 2px !important;
    margin: 0 5px !important;

    button {
      padding: 0 !important;
      width: 40px !important;
      height: 2px !important;

      &::before {
        content: '' !important;
        width: 40px !important;
        height: 2px !important;
        background-color: #000;
      }
    }
  }

}