.section-footer {
  background-color: #3E2A27;
}
.section-footer p {
  margin: 0;
}
.section-footer ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.section-footer a {
  color: #fff;
}
.section-footer--banner {
  width: 100%;
  line-height: 0;
}
.section-footer--banner img {
  width: 100%;
  height: auto;
}
.section-footer--container {
  width: 100%;
  max-width: 88.8888888889vw;
  margin: 0 auto;
}
.section-footer--top {
  display: flex;
  padding-top: 5.9027777778vw;
  padding-bottom: 5.9027777778vw;
}
.section-footer--top__logo {
  flex: 0 0 6.1111111111vw;
  max-width: 6.1111111111vw;
  height: auto;
  line-height: 0;
  margin-right: 23.6111111111vw;
}
.section-footer--top__logo img {
  width: 100%;
  height: auto;
}
.section-footer--top__menu li:not(:last-child) {
  margin-bottom: 1.3888888889vw;
}
.section-footer--top__menu a {
  font-size: 0.9722222222vw;
  display: inline-flex;
  align-items: center;
  gap: 0.5555555556vw;
  text-decoration: none;
  font-family: "Helvetica Neue";
  font-weight: 500;
}
.section-footer--top__menu a::before {
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #fff;
}
.section-footer--top__form {
  flex: 0 0 36.25vw;
  max-width: 36.25vw;
  margin-left: auto;
  background-color: #fff;
  padding: 3.1944444444vw 2.6388888889vw;
  margin-top: -27.7777777778vw;
}
.section-footer--mid {
  display: flex;
  color: #fff;
  padding: 3.4722222222vw 0;
  border-top: 1px solid #fff;
}
.section-footer--mid .company-col,
.section-footer--mid .slogan-col {
  flex: 0 0 21.1805555556vw;
  max-width: 21.1805555556vw;
  font-size: 0.9722222222vw;
  font-family: "Helvetica Neue";
  font-weight: 400;
}
.section-footer--mid .company-col {
  margin-right: 8.3333333333vw;
}
.section-footer--mid .company-col li {
  display: flex;
  gap: 0.5555555556vw;
  line-height: 1.57;
  padding-left: 0.4166666667vw;
}
.section-footer--mid .company-col li:not(:last-child) {
  margin-bottom: 0.5555555556vw;
}
.section-footer--mid .company-col li::before {
  content: "";
  display: block;
  position: relative;
  top: 0.8vw;
  flex: 0 0 5px;
  max-width: 5px;
  height: 5px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #fff;
}
.section-footer--mid .company-name {
  font-size: 1.3888888889vw;
  margin-bottom: 1.3888888889vw;
}
.section-footer--mid .company-slogan {
  height: 100%;
  display: flex;
  flex-direction: column;
  line-height: 1.57;
}
.section-footer--mid .company-contact {
  font-size: 1.3888888889vw;
  margin-top: auto;
}
.section-footer--mid .social-col {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  font-size: 1.1111111111vw;
  font-family: "Helvetica Neue";
  font-weight: 400;
  text-align: right;
  line-height: 1.875;
}
.section-footer--bot {
  display: flex;
  border-top: 1px solid #fff;
  padding-top: 2.5vw;
  padding-bottom: 6.25vw;
}
.section-footer--bot .gov-col {
  flex: 0 0 12.0833333333vw;
  max-width: 12.0833333333vw;
  margin-right: 17.3611111111vw;
  line-height: 0;
}
.section-footer--bot .gov-col img {
  width: 100%;
  height: auto;
}
.section-footer--bot .privacy-col {
  flex-grow: 1;
  display: flex;
  align-items: center;
  margin-left: auto;
}
.section-footer--bot .privacy-col ul {
  display: flex;
  align-items: center;
  font-size: 0.8333333333vw;
}
.section-footer--bot .privacy-col ul li:not(:last-child) {
  margin-right: 6.25vw;
}
.section-footer--bot .privacy-col ul a {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  font-family: "Helvetica Neue";
  font-weight: 500;
  gap: 0.5555555556vw;
}
.section-footer--bot .privacy-col ul a::before {
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #fff;
}
.section-footer--form {
  background-color: #fff;
}

.form__field {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1.8055555556vw;
}
.form__field:last-child {
  margin-bottom: 0;
}
.form__caption {
  font-family: "Helvetica Neue";
  font-weight: 400;
  color: #000;
  display: block;
  font-size: 0.8333333333vw;
}
.form__input {
  display: block;
  width: 100%;
  height: clamp(36px, 2.5vw, 2.5vw);
  font-family: "Helvetica Neue";
  font-weight: 400;
  color: #000;
  font-size: 1.1111111111vw;
  appearance: none;
  -webkit-appearance: none;
  background-color: #fff;
  border: none;
  padding: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  box-shadow: none;
  outline: none;
}
.form__input::placeholder {
  color: #BEBEBE;
}
.form__group {
  display: flex;
  width: 100%;
}
.form__group--phone {
  gap: 1.5277777778vw;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}
.form__group--phone .sl__field {
  width: auto;
}
.form__group--phone input {
  display: inline-flex;
  flex-grow: 1;
  border: none;
  width: auto;
}
.form__group--date {
  gap: 1.5277777778vw;
}
.form__group--date .form__field {
  margin-bottom: 0;
}
.form__error {
  display: none;
  font-family: "Helvetica Neue";
  font-weight: 400;
  color: #E02229;
  font-size: 0.8333333333vw;
}
.form__submit {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #141C0A;
  color: #fff;
  height: clamp(52px, 3.6111111111vw, 3.6111111111vw);
  -webkit-border-radius: 60px;
  border-radius: 60px;
  font-family: "Helvetica Neue";
  font-weight: 500;
  font-size: 0.9722222222vw;
}
.form__submit span {
  position: relative;
  line-height: 1.428571429;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5555555556vw;
}
.form__submit span::before {
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #fff;
}

.sl {
  position: relative;
}
.sl__field {
  width: 100%;
}
.sl__field.open .sl__box {
  display: block;
}
.sl__field--time .sl__header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}
.sl__field.default .sl__header {
  color: #BEBEBE;
}
.sl__header {
  display: inline-flex;
  align-items: center;
  gap: 0.5555555556vw;
  font-size: 1.1111111111vw;
  font-family: "Helvetica Neue";
  font-weight: 400;
  cursor: pointer;
  width: 100%;
  height: clamp(36px, 2.5vw, 2.5vw);
  color: #000;
  cursor: pointer;
}
.sl__header #imgCountry {
  width: 1.1111111111vw;
  height: auto;
}
.sl__header #nameCountry {
  display: block;
}
.sl__icon {
  display: flex;
  flex: 0 0 clamp(10px, 0.6944444444vw, 0.6944444444vw);
  max-width: clamp(10px, 0.6944444444vw, 0.6944444444vw);
  height: clamp(10px, 0.6944444444vw, 0.6944444444vw);
  color: #000;
  margin-left: auto;
}
.sl__icon svg {
  width: 100%;
  height: 100%;
}
.sl__box {
  position: absolute;
  left: 0;
  top: 100%;
  -webkit-transform: translateY(7px);
  transform: translateY(7px);
  display: none;
  width: 100%;
  height: auto;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.0705882353);
  -webkit-border-radius: clamp(6px, 0.4166666667vw, 0.4166666667vw);
  border-radius: clamp(6px, 0.4166666667vw, 0.4166666667vw);
  background-color: #fff;
  z-index: 2;
}
.sl__box ul {
  max-height: 320px;
  overflow: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: thin;
}
.sl__box li {
  position: relative;
  font-family: "Helvetica Neue";
  font-weight: 400;
  text-align: center;
  font-size: 1.1111111111vw;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.1944444444vw;
  cursor: pointer;
  cursor: pointer;
  margin-bottom: 1px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.sl__box li:not(:last-child) {
  border-bottom: 1px solid #E0E0E0;
}
.booking .title {
  font-size: 2.2222222222vw;
  margin-bottom: 2.5vw;
}

@media screen and (max-width: 989px) {
  .section-footer--container {
    max-width: 100%;
  }
  .section-footer--top {
    flex-wrap: wrap;
    padding: 0;
  }
  .section-footer--top__logo {
    order: 2;
    padding: 16vw 5.333333333% 0vw 5.333333333%;
    width: 100%;
  }
  .section-footer--top__logo img {
    width: 23.4666666667vw;
    height: auto;
  }
  .section-footer--top__menu {
    flex: 0 0 100%;
    max-width: 100%;
    order: 3;
    padding: 11.2vw 5.333333333%;
  }
  .section-footer--top__menu li:not(:last-child) {
    margin-bottom: 3.7333333333vw;
  }
  .section-footer--top__menu a {
    font-size: 3.7333333333vw;
    gap: 3.2vw;
  }
  .section-footer--top__form {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 16vw 5.333333333%;
    margin: 0;
    order: 1;
  }
  .section-footer--mid {
    flex-wrap: wrap;
    padding: 0 5.333333333%;
    padding-bottom: 9.6vw;
    border: none;
  }
  .section-footer--mid .company-col,
  .section-footer--mid .slogan-col,
  .section-footer--mid .social-col {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .section-footer--mid .company-col,
  .section-footer--mid .slogan-col {
    font-size: 3.7333333333vw;
  }
  .section-footer--mid .company-col li {
    position: relative;
    padding-left: 1.6vw;
    gap: 3.2vw;
  }
  .section-footer--mid .company-col li:not(:last-child) {
    margin-bottom: 2.1333333333vw;
  }
  .section-footer--mid .company-col li::before {
    top: 2.1333333333vw;
  }
  .section-footer--mid .company-col {
    padding-top: 9.6vw;
    padding-bottom: 9.6vw;
    border-top: 1px solid #fff;
  }
  .section-footer--mid .company-name {
    font-size: 5.3333333333vw;
    margin-bottom: 6.9333333333vw;
  }
  .section-footer--mid .slogan-col {
    padding-bottom: 9.6vw;
  }
  .section-footer--mid .company-contact {
    font-size: 5.3333333333vw;
    margin-top: 5.3333333333vw;
  }
  .section-footer--mid .social-col {
    font-size: 4.2666666667vw;
    display: flex;
    flex-direction: row;
    column-gap: 4.2666666667vw;
  }
  .section-footer--bot {
    flex-wrap: wrap;
    border: none;
    padding: 0 5.333333333%;
    padding-bottom: 16vw;
  }
  .section-footer--bot .gov-col {
    border-top: 1px solid #fff;
    padding: 9.6vw 0;
  }
  .section-footer--bot .gov-col img {
    width: 46.4vw;
  }
  .section-footer--bot .gov-col,
  .section-footer--bot .privacy-col {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .section-footer--bot .privacy-col ul {
    flex-direction: column;
    font-size: 3.2vw;
    row-gap: 5.3333333333vw;
  }
  .section-footer--bot .privacy-col ul li {
    width: 100%;
    margin: 0 !important;
  }
  .section-footer--bot .privacy-col ul li:not(:last-child) {
    margin-bottom: 3.7333333333vw;
  }
  .section-footer--bot .privacy-col ul li a {
    gap: 3.2vw;
  }
  .form__field {
    margin-bottom: 6.9333333333vw;
  }
  .form__caption {
    font-size: 3.2vw;
  }
  .form__input {
    font-size: 4.2666666667vw;
  }
  .form__group--phone {
    gap: 5.3333333333vw;
  }
  .form__group--date {
    gap: 5.3333333333vw;
  }
  .form__error {
    font-size: 3.2vw;
  }
  .form__submit {
    height: clamp(52px, 13.8666666667vw, 13.8666666667vw);
    font-size: 3.7333333333vw;
  }
  .form__submit span {
    gap: 2.1333333333vw;
  }
  .sl__header {
    height: clamp(36px, 9.6vw, 9.6vw);
    font-size: 4.2666666667vw;
    gap: 2.1333333333vw;
  }
  .sl__header #imgCountry {
    width: 4.2666666667vw;
    height: auto;
  }
  .sl__icon {
    flex: 0 0 clamp(10px, 2.6666666667vw, 2.6666666667vw);
    max-width: clamp(10px, 2.6666666667vw, 2.6666666667vw);
    height: clamp(10px, 2.6666666667vw, 2.6666666667vw);
  }
  .sl__box {
    -webkit-border-radius: clamp(6px, 1.6vw, 1.6vw);
    border-radius: clamp(6px, 1.6vw, 1.6vw);
  }
  .sl__box li {
    height: 12.2666666667vw;
    font-size: 3.7333333333vw;
  }
  .booking .title {
    font-size: 8.5333333333vw;
    margin-bottom: 9.6vw;
    padding-right: 26.6666666667vw;
  }
}
