.gradient {
  background: #40491A;
}

.utility-bar.gradient,
.header-wrapper.gradient {
  background-color: #40491A;
}

@media screen and (min-width: 1024px) {
  sticky-header {
    padding-top: 0.8333333333vw;
    padding-bottom: 0.8333333333vw;
  }
  .header {
    width: 100%;
    max-width: 100%;
  }
  .header:not(.drawer-menu).page-width {
    padding-left: 5.5555555556vw;
    padding-right: 5.5555555556vw;
  }
  .header__heading-link {
    padding: 0;
  }
  .header__heading-logo-wrapper {
    width: 3.8194444444vw;
    color: #fff;
  }
  .header__heading-logo-wrapper img {
    width: 100%;
    height: auto;
  }
  .header__inline-menu .list-menu--inline > li {
    margin-right: 3.6805555556vw;
  }
  .header__inline-menu .list-menu--inline > li .list-menu__item {
    padding: 0;
    padding-right: 1.25vw;
    font-size: 0.9722222222vw;
    font-family: "Helvetica Neue";
    font-weight: 500;
    position: relative;
    display: inline-flex;
    align-items: center;
    line-height: 1.6;
    gap: 0.5555555556vw;
    color: #fff;
  }
  .header__inline-menu .list-menu--inline > li .list-menu__item .icon-caret {
    right: 0;
  }
  .header__inline-menu .list-menu--inline > li .list-menu__item::before {
    content: "";
    position: relative;
    display: block;
    width: 5px;
    height: 5px;
    background-color: #fff;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }
  .header .disclosure__button {
    padding: 0;
    height: auto;
    gap: 0.5555555556vw;
  }
  .header .disclosure__button img {
    flex: 0 0 1.3888888889vw;
    max-width: 1.3888888889vw;
    height: 1.3888888889vw;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }
  .header .disclosure__button span {
    font-size: 0.9722222222vw;
    font-family: "Helvetica Neue";
    font-weight: 500;
    color: #fff;
  }
  .header__icons {
    padding-right: 0;
  }
  .header__icon {
    width: 1.6666666667vw;
    height: 1.6666666667vw;
  }
  .header localization-form {
    display: flex;
    align-items: center;
  }
  .header__icon--cart {
    margin-right: 0;
  }
  .header__icon--cart::before {
    content: "";
    position: absolute;
    right: clamp(-5px, -0.6944444444vw, -0.6944444444vw);
    top: 0;
    display: block;
    width: clamp(10px, 0.6944444444vw, 0.6944444444vw);
    height: clamp(10px, 0.6944444444vw, 0.6944444444vw);
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: #EB5757;
    border: 2px solid #fff;
  }
  .header .h_spr {
    display: block;
    width: 1px;
    height: 0.9722222222vw;
    background-color: #B1B1B1;
    margin: 0 0.9722222222vw;
  }
  .js .header-localization:not(.menu-drawer__localization) .localization-form__select {
    height: auto;
    padding-left: 0;
    padding-right: 1.25vw;
  }
  .js .header-localization:not(.menu-drawer__localization) .localization-form__select .icon-caret {
    right: 0;
  }
  .scrolled-past-header .header-wrapper {
    background-color: #fff;
  }
  .scrolled-past-header .header__heading-logo-wrapper {
    width: 2.6388888889vw !important;
    color: #0C230B;
  }
  .scrolled-past-header .header__inline-menu .list-menu--inline > li .list-menu__item {
    color: #0C230B;
  }
  .scrolled-past-header .header__inline-menu .list-menu--inline > li .list-menu__item .header__active-menu-item {
    color: #0C230B;
  }
  .scrolled-past-header .header__inline-menu .list-menu--inline > li .list-menu__item::before {
    background-color: #0C230B;
  }
  .scrolled-past-header .header__icon--account, .scrolled-past-header .header__icon--search, .scrolled-past-header .header__icon--cart {
    color: #0C230B;
  }
  .scrolled-past-header .header .disclosure__button {
    color: #0C230B;
  }
  .scrolled-past-header .header .disclosure__button span {
    color: #0C230B;
  }
  .scrolled-past-header .header__icon--cart::before {
    border: 1px solid #0C230B;
  }
  .scrolled-past-header .header .h_spr {
    background-color: #0C230B;
  }
}
@media screen and (max-width: 1400px) {
  .header__inline-menu .list-menu--inline > li {
    margin-right: 2.7777777778vw;
  }
}
