.home-service {
  width: 100%;
  background-color: #F3F0EB;
  padding: clamp(40px, 7.9166666667vw, 160px) 0;
}
.home-service--container {
  position: relative;
  width: 100%;
  max-width: clamp(900px, 88.8888888889vw, 1577px);
  margin: 0 auto;
}
.home-service--box {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
}
.home-service--sub {
  flex: 0 0 33.828125%;
  max-width: 33.828125%;
}
.home-service h2 {
  padding-right: 8.75vw;
}
.home-service--main {
  flex: 0 0 66.171875%;
  max-width: 66.171875%;
}
.home-service--main__content {
  width: 36.25vw;
  padding-bottom: clamp(30px, 4.3055555556vw, 76px);
}
.home-service--list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding-top: 7.6388888889vw;
}
.home-service--item {
  flex: 0 0 calc(50% - 0.6944444444vw);
  max-width: calc(50% - 0.6944444444vw);
  padding: 2.7777777778vw 2.0833333333vw 0vw 2.0833333333vw;
  margin-bottom: 5.2083333333vw;
}
.home-service--item:nth-child(4n+1) {
  background-color: #A9B789;
  margin-top: -7.6388888889vw;
}
.home-service--item:nth-child(4n+2) {
  background-color: #DBE0DF;
  margin-left: 1.3888888889vw;
}
.home-service--item:nth-child(4n+3) {
  background-color: #C6A9A9;
  margin-top: -7.6388888889vw;
}
.home-service--item:nth-child(4n+4) {
  background-color: #D9C9B6;
  margin-left: 1.3888888889vw;
}
.home-service--item__content h3 {
  font-family: "Petrona";
  font-weight: 400;
  color: #000;
  font-size: clamp(13px, 1.9444444444vw, 32px);
  line-height: 1.4;
  margin: 0;
  margin-bottom: 0.2777777778vw;
  letter-spacing: -0.05vw;
}
.home-service--item__content p {
  font-family: "Helvetica Neue";
  font-weight: 400;
  color: #000;
  font-size: clamp(10px, 0.9722222222vw, 18px);
  line-height: 1.6;
  margin: 0;
  letter-spacing: 0;
}
.home-service--item__action {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 8.3333333333vw;
}
.home-service--item__img {
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  line-height: 0;
  width: clamp(50px, 13.1944444444vw, 236px);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.home-service--item__img > img {
  width: 100%;
  height: auto;
}
.home-service--item__link {
  position: relative;
  text-decoration: none;
  color: #000;
  font-size: clamp(10px, 0.9722222222vw, 18px);
  font-weight: 500;
  text-transform: uppercase;
  display: inline-flex;
  align-items: center;
  gap: 0.8333333333vw;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.home-service--item__link img {
  width: clamp(20px, 3.0555555556vw, 52px);
  height: auto;
}
.home-service--item:hover .home-service--item__img {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}
.home-service--item:hover .home-service--item__link {
  opacity: 1;
}

@media screen and (max-width: 989px) {
  .home-service {
    padding: 16vw 5.333333333%;
  }
  .home-service--container {
    max-width: 100%;
  }
  .home-service h2 {
    margin-bottom: 8vw;
    padding: 0;
  }
  .home-service--sub, .home-service--main {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .home-service--main__content {
    width: 100%;
  }
  .home-service--list {
    padding-top: 6.4vw;
    width: 100%;
    row-gap: 6.4vw;
  }
  .home-service--item {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 8vw 6.1333333333vw;
    margin-left: 0 !important;
    margin-top: 0 !important;
  }
  .home-service--item__content {
    padding-bottom: 2.6666666667vw;
  }
  .home-service--item__content h3 {
    font-size: 6.4vw;
    margin-bottom: 2.1333333333vw;
  }
  .home-service--item__content p {
    font-size: 3.7333333333vw;
  }
  .home-service--item__action {
    height: 26.6666666667vw;
    justify-content: space-between;
    align-items: flex-end;
  }
  .home-service--item__img {
    position: relative;
    left: 0;
    top: 0;
    -webkit-transform: none !important;
    transform: none !important;
    width: 25.8666666667vw;
  }
  .home-service--item__link {
    opacity: 1;
    font-size: 3.7333333333vw;
    gap: 3.2vw;
  }
  .home-service--item__link img {
    width: 11.7333333333vw;
  }
}
