.home-about {
  background-color: #F3F0EB;
  width: 100%;
  padding: clamp(40px, 7.9166666667vw, 160px) 0;
}
.home-about--container {
  width: 100%;
  max-width: clamp(900px, 88.8888888889vw, 1577px);
  display: block;
  margin: 0 auto;
}
.home-about--box {
  display: flex;
  flex-wrap: wrap;
}
.home-about--sub {
  flex: 0 0 33.828125%;
  max-width: 33.828125%;
  display: flex;
  flex-direction: column;
}
.home-about--sub__img {
  display: block;
  line-height: 0;
  width: clamp(150px, 21.1805555556vw, 406px);
  margin-top: auto;
}
.home-about--sub__img img {
  width: 100%;
  height: auto;
}
.home-about--main {
  flex: 0 0 66.171875%;
  max-width: 100%;
}
.home-about h2 {
  padding-right: 6.9444444444vw;
}
.home-about--caption {
  width: 100%;
}
.home-about--content {
  width: 36.25vw;
}
.home-about--link {
  padding-top: clamp(10px, 2.0833333333vw, 27px);
  padding-bottom: clamp(50px, 6.25vw, 120px);
}
.home-about--img {
  line-height: 0;
  width: 100%;
}
.home-about--img img {
  width: 100%;
  height: auto;
}
.home-about--video {
  position: relative;
  display: block;
  width: 21.1805555556vw;
  height: auto;
  margin-top: auto;
}
.home-about--video::before, .home-about--video::after {
  content: "";
}
.home-about--video::before {
  display: block;
  width: 100%;
  height: auto;
  padding-top: 100%;
}
.home-about--video video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-object-fit: cover;
  object-fit: cover;
}

@media screen and (max-width: 989px) {
  .home-about {
    padding: 16vw 5.333333333%;
  }
  .home-about--container {
    max-width: 100%;
  }
  .home-about h2 {
    padding: 0;
    margin-bottom: 8vw;
  }
  .home-about--sub, .home-about--main {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .home-about--sub__img {
    display: none;
  }
  .home-about--video {
    display: none;
  }
  .home-about--content {
    width: 100%;
  }
  .home-about--link {
    padding-top: 5.8666666667vw;
    padding-bottom: 11.2vw;
  }
}
