.home-fragrance {
  width: 100%;
}
.home-fragrance--container {
  position: relative;
  width: 100%;
}
.home-fragrance--box {
  position: absolute;
  left: 5.5555555556vw;
  bottom: 7.6388888889vw;
  width: 28.8888888889vw;
  z-index: 1;
}
.home-fragrance h2 {
  margin-bottom: 0.8333333333vw;
  padding-right: 6.9444444444vw;
}
.home-fragrance .dot-link {
  padding-top: 2.0833333333vw;
}
.home-fragrance--video {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
}
.home-fragrance--video::before, .home-fragrance--video::after {
  content: "";
}
.home-fragrance--video::before {
  display: block;
  width: 100%;
  height: auto;
  padding-top: 52.083333333%;
}
.home-fragrance--video::after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.home-fragrance--video video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-object-fit: cover;
  object-fit: cover;
}

@media screen and (max-width: 989px) {
  .home-fragrance h2 {
    padding-right: 0;
    margin-bottom: 8vw;
  }
  .home-fragrance--box {
    width: 100%;
    padding: 0 5.333333333%;
    left: 0;
    bottom: 10.6666666667vw;
  }
  .home-fragrance--link {
    padding-top: 5.8666666667vw;
  }
  .home-fragrance--video::before {
    padding-top: 160%;
  }
}
