.home-popular {
  width: 100%;
  padding: 7.9166666667vw 0;
  background-color: #F3F0EB;
  overflow: hidden;
  position: relative;
}
.home-popular--container {
  position: relative;
  width: 100%;
  max-width: 88.8888888889vw;
  margin: 0 auto;
}
.home-popular--box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.home-popular--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3.0555555556vw;
}
.home-popular--link {
  width: auto;
}
.home-popular--list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.3888888889vw;
  margin-bottom: 1.3888888889vw;
}
.home-popular--item {
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 4px;
  border-radius: 4px;
  overflow: hidden;
  padding: 2.2222222222vw 2.7777777778vw;
}
.home-popular--item__content h3 {
  color: #0C230B;
  font-size: 1.3888888889vw;
  line-height: 1.6;
  text-align: center;
  font-weight: 600;
  margin: 0;
  letter-spacing: 0;
}
.home-popular--item__img {
  line-height: 0;
  width: auto;
  height: auto;
  max-width: 10.2083333333vw;
  margin: 0 auto;
  margin-bottom: 0.6944444444vw;
}
.home-popular--item__img img {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 990px) {
  .home-popular--list {
    display: grid !important;
    width: 100% !important;
  }
  .home-popular .slick-track {
    -webkit-transform: none !important;
    transform: none !important;
    width: 100% !important;
  }
  .home-popular .slick-dots {
    display: none !important;
  }
}
@media screen and (max-width: 989px) {
  .home-popular {
    padding: 16vw 5.333333333%;
  }
  .home-popular--container {
    max-width: 100%;
  }
  .home-popular--header {
    margin-bottom: 8vw;
    flex-wrap: wrap;
    gap: 5.3333333333vw;
  }
  .home-popular--list {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.6666666667vw;
    margin-bottom: 2.6666666667vw;
  }
  .home-popular--item {
    padding: 5.3333333333vw 2.6666666667vw;
  }
  .home-popular--item h3 {
    font-size: 3.7333333333vw;
  }
  .home-popular--item__img {
    max-width: 21.3333333333vw;
    margin-bottom: 2.6666666667vw;
  }
}
