.home-discover {
  width: 100%;
  background-color: #B6C0AC;
}
.home-discover--container {
  position: relative;
  width: 100%;
}
.home-discover--box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.home-discover--img {
  flex: 0 0 64.444444444%;
  max-width: 64.444444444%;
  line-height: 0;
}
.home-discover--img img {
  width: 100%;
  height: auto;
}
.home-discover--txt {
  flex: 0 0 35.555555556%;
  max-width: 35.555555556%;
  padding: 5.5555555556vw 2.7777777778vw 0 2.7777777778vw;
}
.home-discover--txt h2 {
  padding-right: 9.7222222222vw;
  margin-bottom: 1.7361111111vw;
}
.home-discover--txt p {
  font-weight: 300;
  color: rgba(12, 35, 11, 0.8);
}
.home-discover--link {
  padding-top: clamp(10px, 2.0833333333vw, 27px);
}

@media screen and (max-width: 989px) {
  .home-discover--container {
    max-width: 100%;
  }
  .home-discover--img, .home-discover--txt {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .home-discover--txt {
    padding: 10.6666666667vw 5.333333333%;
  }
  .home-discover--txt h2 {
    margin-bottom: 8vw;
  }
  .home-discover--link {
    padding-top: 5.8666666667vw;
  }
}
