.home-fragrance {
  overflow: hidden;
  width: 100%;
  background-color: #F3F0EB;
}
.home-fragrance--container {
  position: relative;
  width: 100%;
}
.home-fragrance--box {
  position: absolute;
  left: 0;
  bottom: 5.5555555556vw;
  width: 100%;
  height: auto;
  z-index: 1;
}
.home-fragrance--inr {
  display: block;
  width: 100%;
  max-width: clamp(900px, 88.8888888889vw, 1577px);
  margin: 0 auto;
}
.home-fragrance--detail {
  width: clamp(200px, 28.8888888889vw, 540px);
}
.home-fragrance h2 {
  margin-bottom: 0.8333333333vw;
  padding-right: 9.7222222222vw;
}
.home-fragrance .dot-link {
  padding-top: clamp(10px, 2.0833333333vw, 27px);
}
.home-fragrance--video {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
}
.home-fragrance--video::before, .home-fragrance--video::after {
  content: "";
}
.home-fragrance--video::before {
  display: block;
  width: 100%;
  height: auto;
  padding-top: 52.083333333%;
}
.home-fragrance--video::after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.home-fragrance--video video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-object-fit: cover;
  object-fit: cover;
}

@media screen and (min-width: 1441px) {
  .home-fragrance--box {
    bottom: clamp(30px, 8.5416666667vw, 164px);
  }
}
@media screen and (max-width: 989px) {
  .home-fragrance h2 {
    padding-right: 0;
    margin-bottom: 8vw;
  }
  .home-fragrance--box {
    width: 100%;
    padding: 0 5.333333333%;
    left: 0;
    bottom: 10.6666666667vw;
  }
  .home-fragrance--detail {
    width: 100%;
  }
  .home-fragrance--link {
    padding-top: clamp(10px, 2.0833333333vw, 27px);
  }
  .home-fragrance--video::before {
    padding-top: 160%;
  }
}
