.home-practice {
  width: 100%;
  background-color: #F3F0EB;
  padding: 6.1111111111vw 0;
  overflow: hidden;
  position: relative;
}
.home-practice--container {
  position: relative;
  width: 100%;
  max-width: 88.8888888889vw;
  margin: 0 auto;
}
.home-practice--box {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.3888888889vw;
}
.home-practice h2 {
  margin-bottom: 2.7777777778vw;
}
.home-practice--link {
  padding-top: 2.0833333333vw;
}
.home-practice__item {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}
.home-practice__item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 1.3888888889vw;
  width: 100%;
  height: 100%;
  background-image: url(../images/tree.png);
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: 10.4861111111vw auto;
  pointer-events: none;
  opacity: 0.3;
}
.home-practice__item:nth-child(3n+1) {
  background-color: #DBE0DF;
}
.home-practice__item:nth-child(3n+2) {
  background-color: #D9C9B6;
}
.home-practice__item:nth-child(3n+3) {
  background-color: #C6A9A9;
}
.home-practice--txt {
  position: relative;
  padding: 1.3888888889vw;
}
.home-practice--txt h3 {
  font-size: 1.9444444444vw;
  font-family: "Petrona";
  font-weight: 500;
  line-height: 1.4;
  margin: 0;
  padding-right: 9.7222222222vw;
}
.home-practice--img {
  line-height: 0;
  width: 100%;
  height: auto;
}
.home-practice--img img {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 1025px) {
  .home-practice--img img {
    -webkit-transition: filter 0.3s ease-in-out;
    transition: filter 0.3s ease-in-out;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
  }
  .home-practice__item {
    box-shadow: 0px 10px 46.9px 0px rgba(97, 124, 82, 0);
    -webkit-transition: box-shadow 0.3s ease-in-out;
    transition: box-shadow 0.3s ease-in-out;
  }
  .home-practice__item:hover {
    box-shadow: 0px 10px 46.9px 0px rgba(97, 124, 82, 0.3098039216);
  }
  .home-practice__item:hover .home-practice--img img {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
  }
}
@media screen and (min-width: 990px) {
  .home-practice .slick-track {
    width: calc(100% + 2.7777777778vw) !important;
    display: flex !important;
    column-gap: 1.3888888889vw;
    margin: 0 -1.3888888889vw;
  }
}
@media screen and (max-width: 989px) {
  .home-practice {
    padding: 16vw 5.333333333%;
  }
  .home-practice--container {
    max-width: 100%;
  }
  .home-practice--box {
    grid-template-columns: repeat(1, 1fr);
    gap: 3.2vw;
  }
  .home-practice .slick-list {
    overflow: visible;
  }
  .home-practice .slick-slide {
    margin-right: 3.2vw;
  }
  .home-practice h2 {
    font-size: 8.5333333333vw;
    margin-bottom: 8vw;
  }
  .home-practice--link {
    padding-top: 6.4vw;
  }
  .home-practice--link a {
    font-size: 3.7333333333vw;
  }
  .home-practice__item::before {
    background-size: 27.2vw auto;
    top: 5.8666666667vw;
  }
  .home-practice--txt {
    padding: 4.8vw 3.2vw;
  }
  .home-practice--txt h3 {
    font-size: 5.3333333333vw;
    padding-right: 29.8666666667vw;
  }
}
