@font-face {
  font-family: "Helvetica Neue";
  src: url(../fonts/HelveticaNeue.woff2) format("woff2"), url(../fonts/HelveticaNeue.woff) format("woff"), url(../fonts/HelveticaNeue.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url(../fonts/HelveticaNeue-Medium.woff2) format("woff2"), url(../fonts/HelveticaNeue-Medium.woff) format("woff"), url(../fonts/HelveticaNeue-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url(../fonts/HelveticaNeue-Bold.woff2) format("woff2"), url(../fonts/HelveticaNeue-Bold.woff) format("woff"), url(../fonts/HelveticaNeue-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url(../fonts/HelveticaNeue-Light.woff2) format("woff2"), url(../fonts/HelveticaNeue-Light.woff) format("woff"), url(../fonts/HelveticaNeue-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Petrona";
  src: url(../fonts/Petrona-Medium.woff2) format("woff2"), url(../fonts/Petrona-Medium.woff) format("woff"), url(../fonts/Petrona-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Petrona";
  src: url(../fonts/Petrona-Regular.woff2) format("woff2"), url(../fonts/Petrona-Regular.woff) format("woff"), url(../fonts/Petrona-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Petrona";
  src: url(../fonts/Petrona-SemiBold.woff2) format("woff2"), url(../fonts/Petrona-SemiBold.woff) format("woff"), url(../fonts/Petrona-SemiBold.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Petrona";
  src: url(../fonts/Petrona-LightItalic.woff2) format("woff2"), url(../fonts/Petrona-LightItalic.woff) format("woff"), url(../fonts/Petrona-LightItalic.ttf) format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
body {
  font-family: "Helvetica Neue";
  font-weight: 300;
  font-style: normal;
  line-height: 1.4;
  color: #0C230B;
}

.caption {
  display: block;
  font-family: "Helvetica Neue";
  font-weight: 400;
  color: #151C0A;
  line-height: 1.4;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  padding-bottom: 1.5277777778vw;
  margin-bottom: 3.1944444444vw;
  font-size: 0.9722222222vw;
  text-transform: uppercase;
}

.title {
  font-family: "Petrona";
  font-weight: 500;
  line-height: 1.2;
  color: #0C230B;
  font-size: 3.0555555556vw;
  margin: 0;
}

.content.color-white {
  color: rgba(255, 255, 255, 0.8);
}
.content p {
  font-family: "Helvetica Neue";
  font-weight: 300;
  line-height: 1.4;
  margin: 0;
  font-size: 1.3888888889vw;
  margin-bottom: 0.9722222222vw;
}

.dot-link {
  display: flex;
  width: 100%;
}
.dot-link a {
  position: relative;
  font-family: "Helvetica Neue";
  font-weight: 500;
  text-transform: uppercase;
  color: #141C0A;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  gap: 0.5555555556vw;
  font-size: 1.1111111111vw;
}
.dot-link a::before {
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  background-color: #141C0A;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.dot-link.color-white a {
  color: #fff;
}
.dot-link.color-white a::before {
  background-color: #fff;
}

.color-white {
  color: #fff;
}

@media screen and (min-width: 1025px) {
  .dot-link a {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .dot-link a:hover {
    text-decoration: underline;
  }
}
@media screen and (min-width: 990px) {
  .sp {
    display: none !important;
  }
}
@media screen and (max-width: 989px) {
  .pc {
    display: none !important;
  }
  .caption {
    font-size: 3.7333333333vw;
    padding-bottom: 5.3333333333vw;
    margin-bottom: 8vw;
  }
  .title {
    font-size: 8.2666666667vw;
  }
  .content p {
    font-size: 4.2666666667vw;
    margin-bottom: 3.7333333333vw;
  }
  .dot-link a {
    gap: 2.1333333333vw;
    font-size: 3.7333333333vw;
  }
  .slick-dots li {
    width: 40px !important;
    height: 2px !important;
    margin: 0 5px !important;
  }
  .slick-dots li button {
    padding: 0 !important;
    width: 40px !important;
    height: 2px !important;
  }
  .slick-dots li button::before {
    content: "" !important;
    width: 40px !important;
    height: 2px !important;
    background-color: #000;
  }
}
