<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="utf-8">
    <meta name="google" content="notranslate">
    <meta name="robots" content="index, follow">
    <meta name="author" content="Scent">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <title>Scent</title>
    <meta name="description" content="Scent">
    <meta name="keywords" content="Scent">
    <meta name="theme-color" content="#fff">
    <meta property="og:title" content="Scent">
    <meta property="og:description" content="Scent">
    <meta property="og:type" content="website">
    <meta property="og:image" content="images/thumbnail.jpg">
    <meta property="og:site_name" content="Scent">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="Scent">
    <link rel="icon" href="images/favicon.png">
    <link href="css/index.css" rel="preload stylesheet" as="style">
</head>

<body data-page="home">
    <div class="page">
        <%= htmlWebpackPlugin.options.svg %>
            <%= htmlWebpackPlugin.options.header %>

                <div class="section banner">
                    <div class="banner__box">
                        <div class="banner__img">
                            <img src="images/banner.jpg" width="1440" height="815"
                                alt="Vietnamese Oolong Tea bsolute" />
                        </div>
                        <div class="banner__txt">
                            <h1>Vietnamese Oolong Tea Co<sub>2</sub> Absolute</h1>
                        </div>
                    </div>
                </div>

                <div class="section essence">
                    <div class="essence__box">
                        <div class="essence__txt">
                            <h2>The Essence of <br>Vietnamese Oolong Tea</h2>
                            <div class="essence__brief">
                                <p>The dedication of Vietnamese tea artisans infuses every leaf with their love for the
                                    craft, creating a scent deeply rooted in this land’s identity. Nearly a century of
                                    dedication has crafted a unique Oolong Tea unlike any other.</p>
                                <p>This is why Scent.vn has chosen this land as the source of its finest natural
                                    fragrance extractions.</p>
                            </div>
                        </div>
                        <div class="essence__img">
                            <img fetchpriority="low" loading="lazy" src="images/essence.jpg" width="703" height="713"
                                alt="Vietnamese Oolong Tea bsolute" />
                        </div>
                    </div>
                </div>

                <div class="section banner__full">
                    <div class="banner__full--img">
                        <img fetchpriority="low" loading="lazy" src="images/full-banner.jpg" width="1440" height="622"
                            alt="adv" />
                    </div>
                </div>

                <div class="section people">
                    <div class="people__box">
                        <div class="people__img">
                            <img fetchpriority="low" loading="lazy" src="images/people-main.jpg" width="632"
                                height="907" alt="Where People Shape Identity" />
                        </div>
                        <div class="people__txt">
                            <h2>Where People Shape Identity</h2>
                            <div class="people__brief">
                                <p>Grown in nutrient-rich soil and nurtured by a mild climate, Oolong tea plants from
                                    renowned regions flourish into a prized ingredient. The dedication of Vietnamese tea
                                    artisans infuses every leaf with their love for the craft, creating a scent deeply
                                    rooted in this land’s identity.</p>
                            </div>
                            <div class="people__img--sub">
                                <img fetchpriority="low" loading="lazy" src="images/people-hand.jpg" width="632"
                                    height="507" alt="img" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="section hand">
                    <div class="hand__box">
                        <div class="hand__cate">
                            <div class="hand__cate--item">
                                <div class="number">01</div>
                                <h3>Strict <br>Selection</h3>
                            </div>
                            <div class="hand__cate--item">
                                <div class="number">02</div>
                                <h3>Distinctive</h3>
                            </div>
                            <div class="hand__cate--item">
                                <div class="number">03</div>
                                <h3>Create <br>Essence</h3>
                            </div>
                        </div>
                        <div class="hand__info">
                            <div class="hand__img">
                                <img fetchpriority="low" loading="lazy" src="images/hand.jpg" width="704" height="389"
                                    alt="Hand-Harvesting and Unique Processing" />
                            </div>
                            <div class="hand__txt">
                                <h2>Hand-Harvesting and Unique Processing</h2>
                                <div class="hand__brief">
                                    <p>Every step in the refining process involves unique craftsmanship, yielding a tea
                                        with a lingering sweet aftertaste, delicate white floral notes, osmanthus hints,
                                        pear undertones, and a whisper of honeyed sweetness.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="section leader">
                    <div class="leader__box">
                        <div class="leader__txt">
                            <h2>Trusted by leaders</h2>
                            <div class="leader__brief">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                    exercitation ullamco laboris nisi</p>
                            </div>
                            <div class="leader__action">
                                <a href="#" class="but">Read more</a>
                            </div>
                        </div>
                        <div class="leader__list">
                            <div class="leader__item">
                                <img fetchpriority="low" loading="lazy" src="images/leader-usda.png" width="148"
                                    height="148" alt="USDA ORGANIC" />
                            </div>
                            <div class="leader__item">
                                <img fetchpriority="low" loading="lazy" src="images/leader-gmp.png" width="148"
                                    height="148" alt="USDA ORGANIC" />
                            </div>
                            <div class="leader__item">
                                <img fetchpriority="low" loading="lazy" src="images/leader-usda.png" width="148"
                                    height="148" alt="USDA ORGANIC" />
                            </div>
                            <div class="leader__item">
                                <img fetchpriority="low" loading="lazy" src="images/leader-forbes.png" width="198"
                                    height="54" alt="Forbes" />
                            </div>
                            <div class="leader__item">
                                <img fetchpriority="low" loading="lazy" src="images/leader-time.png" width="170"
                                    height="54" alt="Forbes" />
                            </div>
                            <div class="leader__item">
                                <img fetchpriority="low" loading="lazy" src="images/leader-forbes.png" width="198"
                                    height="54" alt="Forbes" />
                            </div>
                            <div class="leader__item">
                                <img fetchpriority="low" loading="lazy" src="images/leader-life.png" width="122"
                                    height="68" alt="Life" />
                            </div>
                            <div class="leader__item">
                                <img fetchpriority="low" loading="lazy" src="images/leader-business.png" width="156"
                                    height="70" alt="business" />
                            </div>
                            <div class="leader__item">
                                <img fetchpriority="low" loading="lazy" src="images/leader-life.png" width="122"
                                    height="68" alt="Life" />
                            </div>
                        </div>

                    </div>
                    <div class="leader__gallery pc">
                        <div class="leader__gallery--img">
                            <div class="zoom-img">
                                <img fetchpriority="low" loading="lazy" src="images/leader-gallery-1.jpg" width="364"
                                    height="380" alt="img" />
                            </div>
                        </div>
                        <div class="leader__gallery--img">
                            <div class="zoom-img">
                                <img fetchpriority="low" loading="lazy" src="images/leader-gallery-2.jpg" width="364"
                                    height="380" alt="img" />
                            </div>
                        </div>
                        <div class="leader__gallery--img">
                            <div class="zoom-img">
                                <img fetchpriority="low" loading="lazy" src="images/leader-gallery-3.jpg" width="486"
                                    height="778" alt="img" />
                            </div>
                        </div>
                        <div class="leader__gallery--img">
                            <div class="zoom-img">
                                <img fetchpriority="low" loading="lazy" src="images/leader-gallery-4.jpg" width="560"
                                    height="378" alt="img" />
                            </div>
                        </div>
                        <div class="leader__gallery--img">
                            <div class="zoom-img">
                                <img fetchpriority="low" loading="lazy" src="images/leader-gallery-5.jpg" width="274"
                                    height="384" alt="img" />
                            </div>
                        </div>
                        <div class="leader__gallery--img">
                            <div class="zoom-img">
                                <img fetchpriority="low" loading="lazy" src="images/leader-gallery-6.jpg" width="274"
                                    height="384" alt="img" />
                            </div>
                        </div>
                    </div>
                    <div class="leader__gallery sp">
                         <div class="leader__slider">
                            <div class="leaderSlider swiper">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <img fetchpriority="low" loading="lazy" src="images/leader-gallery-1.jpg" width="486"
                                                height="778" alt="img" />
                                    </div>
                                     <div class="swiper-slide">
                                        <img fetchpriority="low" loading="lazy" src="images/leader-gallery-2.jpg" width="486"
                                                height="778" alt="img" />
                                    </div>
                                     <div class="swiper-slide">
                                        <img fetchpriority="low" loading="lazy" src="images/leader-gallery-3.jpg" width="486"
                                                height="778" alt="img" />
                                    </div>
                                     <div class="swiper-slide">
                                        <img fetchpriority="low" loading="lazy" src="images/leader-gallery-4.jpg" width="486"
                                                height="778" alt="img" />
                                    </div>
                                     <div class="swiper-slide">
                                        <img fetchpriority="low" loading="lazy" src="images/leader-gallery-5.jpg" width="486"
                                                height="778" alt="img" />
                                    </div>
                                     <div class="swiper-slide">
                                        <img fetchpriority="low" loading="lazy" src="images/leader-gallery-6.jpg" width="486"
                                                height="778" alt="img" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="section banner__full">
                    <div class="banner__full--img">
                        <img fetchpriority="low" loading="lazy" src="images/full-banner-an.jpg" width="1440"
                            height="938" alt="adv" />
                    </div>
                    <div class="banner__full--txt">
                        <h2>An Essence of the Earth <br>Crafted by Human Hands</h2>
                        <div class="banner__full--brief">
                            <p>Oolong Tea CO2 Absolute exudes a rich, fresh green scent with floral nuances and a subtle
                                honeyed sweetness.</p>
                            <p>This essence retains the vibrancy of tea leaves and can be diluted in DPG, TEC or ethanol
                                for use, with a recommended dilution rate of 1%.</p>
                        </div>
                    </div>
                </div>

                <div class="section customer">
                    <div class="customer__box">
                        <div class="customer__txt">
                            <h2>What our customers say</h2>
                            <div class="customer__brief">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                    exercitation ullamco laboris nisi</p>
                            </div>
                        </div>
                        <div class="customer__gallery">
                            <div class="gallery__slider">
                                <div class="customerSlider swiper">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="customer__item">
                                                <div class="customer__item--brief">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                                                        enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                                        nisi</p>
                                                </div>
                                                <div class="customer__item--note">
                                                    <p>Lorem ipsum dolor sit amet</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="customer__item">
                                                <div class="customer__item--brief">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                                                        enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                                        nisi</p>
                                                </div>
                                                <div class="customer__item--note">
                                                    <p>Lorem ipsum dolor sit amet</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="customer__item">
                                                <div class="customer__item--brief">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                                                        enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                                        nisi</p>
                                                </div>
                                                <div class="customer__item--note">
                                                    <p>Lorem ipsum dolor sit amet</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-pagination"></div>
                                <div class="swiper-scrollbar"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="section contact">
                    <div class="contact__box">
                        <div class="contact__form">
                            <h2>Request Sample</h2>
                            <div class="contact__brief">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
                            </div>
                            <form action="#">
                                <div class="from__group show__error">
                                    <input class="input__txt" id="txtUserName" name="txtUserName" type="text"
                                        placeholder="Name" />
                                    <div class="error">This is an error message.</div>
                                </div>
                                <div class="from__group">
                                    <input class="input__txt" id="txtEmail" name="txtEmail" type="text"
                                        placeholder="Email" />
                                    <div class="error">This is an error message.</div>
                                </div>
                                <div class="from__group">
                                    <input class="input__txt" id="txtPhone" name="txtPhone" type="text"
                                        placeholder="Phone" />
                                    <div class="error">This is an error message.</div>
                                </div>
                                <div class="from__group">
                                    <input class="input__txt" id="txtLinkWebsite" name="txtLinkWebsite" type="text"
                                        placeholder="Company website" />
                                    <div class="error">This is an error message.</div>
                                </div>
                                <div class="from__group z4">
                                    <div class="select">
                                        <div class="select__header">
                                            <div class="selected__block" data-placeholder="Industry"></div>
                                            <span class="select__icon">
                                                <svg>
                                                    <use xlink:href="#icon-arrow-down"></use>
                                                </svg>
                                            </span>
                                        </div>
                                        <div class="select__box">
                                            <ul>
                                                <li data-value="Perfurmery">Perfurmery</li>
                                                <li data-value="Aromatherapy">Aromatherapy</li>
                                                <li data-value="None1">None1</li>
                                                <li data-value="None2">None2</li>
                                                <li data-value="None3">None3</li>
                                                <li data-value="None4">None4</li>
                                                <li data-value="None5">None5</li>
                                                <li data-value="None6">None6</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="error">This is an error message.</div>
                                </div>
                                <div class="from__group">
                                    <textarea class="area__txt" id="txtContent" name="txtContent"
                                        placeholder="Message"></textarea>
                                    <div class="error">This is an error message.</div>
                                </div>
                            </form>
                            <div class="form__action">
                                <button type="button" class="but" id="btnSubmit">Submit</button>
                            </div>
                            <div class="message">
                                <div class="message__wrap">
                                    <h2 class="message__title">Thank you! <br>Your request has been received</h2>
                                    <div class="message__brief">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                        sed do eiusmod tempor</div>
                                </div>
                            </div>
                        </div>
                        <div class="contact__img">
                            <img width="704" height="936" fetcpriority="low" src="images/contact.jpg" alt="Contact">
                        </div>
                    </div>
                </div>

                <div class="section discover">
                    <div class="discover__box">
                        <div class="discover__txt">
                            <h2>Discover creations with <br>Oolong Tea Absolute</h2>
                            <div class="discover__brief">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                    exercitation ullamco laboris nisi</p>
                            </div>
                        </div>
                        <div class="discover__gallery">
                            <div class="gallery__slider">
                                <div class="discoverSlider swiper">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="discover__item">
                                                <div class="discover__item--img">
                                                    <div class="zoom-img">
                                                        <img fetchpriority="low" loading="lazy" src="images/product.png"
                                                            width="140" height="300" alt="La Peau D'or" />
                                                    </div>
                                                </div>
                                                <div class="discover__item--brief">
                                                    <h3>La Peau D'or</h3>
                                                    <p>Sylhouette Parfums</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="discover__item">
                                                <div class="discover__item--img">
                                                    <div class="zoom-img">
                                                        <img fetchpriority="low" loading="lazy" src="images/product.png"
                                                            width="140" height="300" alt="La Peau D'or" />
                                                    </div>
                                                </div>
                                                <div class="discover__item--brief">
                                                    <h3>La Peau D'or</h3>
                                                    <p>Sylhouette Parfums</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="discover__item">
                                                <div class="discover__item--img">
                                                    <div class="zoom-img">
                                                        <img fetchpriority="low" loading="lazy" src="images/product.png"
                                                            width="140" height="300" alt="La Peau D'or" />
                                                    </div>
                                                </div>
                                                <div class="discover__item--brief">
                                                    <h3>La Peau D'or</h3>
                                                    <p>Sylhouette Parfums</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-pagination"></div>
                                <div class="swiper-scrollbar"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="section wheretobuy">
                    <div class="wheretobuy__box">
                        <div class="wheretobuy__txt">
                            <h2>Where to buy?</h2>
                            <div class="wheretobuy__brief">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                            </div>
                        </div>
                        <div class="wheretobuy__gallery">
                            <div class="wheretobuy__slider">
                                <div class="wheretobuySlider swiper">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="wheretobuy__item">
                                                <div class="wheretobuy__item--img">
                                                    <img fetchpriority="low" loading="lazy" src="images/where-1.png"
                                                        width="194" height="142" alt="Lorem ipsum" />
                                                </div>
                                                <div class="wheretobuy__item--brief">
                                                    <h3>Lorem ipsum</h3>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="wheretobuy__item">
                                                <div class="wheretobuy__item--img">
                                                    <img fetchpriority="low" loading="lazy" src="images/where-2.png"
                                                        width="194" height="142" alt="Lorem ipsum" />
                                                </div>
                                                <div class="wheretobuy__item--brief">
                                                    <h3>Lorem ipsum</h3>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="wheretobuy__item">
                                                <div class="wheretobuy__item--img">
                                                    <img fetchpriority="low" loading="lazy" src="images/where-3.png"
                                                        width="194" height="142" alt="Lorem ipsum" />
                                                </div>
                                                <div class="wheretobuy__item--brief">
                                                    <h3>Lorem ipsum</h3>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="wheretobuy__item">
                                                <div class="wheretobuy__item--img">
                                                    <img fetchpriority="low" loading="lazy" src="images/where-4.png"
                                                        width="194" height="142" alt="Lorem ipsum" />
                                                </div>
                                                <div class="wheretobuy__item--brief">
                                                    <h3>Lorem ipsum</h3>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="wheretobuy__item">
                                                <div class="wheretobuy__item--img">
                                                    <img fetchpriority="low" loading="lazy" src="images/where-5.png"
                                                        width="194" height="142" alt="Lorem ipsum" />
                                                </div>
                                                <div class="wheretobuy__item--brief">
                                                    <h3>Lorem ipsum</h3>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="wheretobuy__item">
                                                <div class="wheretobuy__item--img">
                                                    <img fetchpriority="low" loading="lazy" src="images/where-6.png"
                                                        width="194" height="142" alt="Lorem ipsum" />
                                                </div>
                                                <div class="wheretobuy__item--brief">
                                                    <h3>Lorem ipsum</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-pagination"></div>
                                <div class="swiper-scrollbar"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="section banner__full">
                    <div class="banner__full--img">
                        <img fetchpriority="low" loading="lazy" src="images/banner-full-3.jpg" width="1440" height="590"
                            alt="adv" />
                    </div>
                </div>

                <div class="section faq">
                    <div class="faq__box">
                        <div class="faq__txt">
                            <h2>Any questions? <br>We got you.</h2>
                            <div class="faq__brief">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
                                </p>
                            </div>
                        </div>
                        <div class="faq__list">
                            <div class="faq__item">
                                <div class="item__title">
                                    <h3>What is an absolute in perfumery?</h3>
                                    <span class="arrow__icon">
                                        <svg>
                                            <use xlink:href="#icon-arrow-down"></use>
                                        </svg>
                                    </span>
                                </div>
                                <div class="item__detail" style="height: 0">
                                    <div class="item__body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                            tempor
                                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                            nostrud.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="faq__item">
                                <div class="item__title">
                                    <h3>How is an absolute different from an essential oil?</h3>
                                    <span class="arrow__icon">
                                        <svg>
                                            <use xlink:href="#icon-arrow-down"></use>
                                        </svg>
                                    </span>
                                </div>
                                <div class="item__detail" style="height: 0">
                                    <div class="item__body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                            tempor
                                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                            nostrud.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="faq__item">
                                <div class="item__title">
                                    <h3>What types of raw materials are used to produce?</h3>
                                    <span class="arrow__icon">
                                        <svg>
                                            <use xlink:href="#icon-arrow-down"></use>
                                        </svg>
                                    </span>
                                </div>
                                <div class="item__detail" style="height: 0">
                                    <div class="item__body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                            tempor
                                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                            nostrud.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="faq__item">
                                <div class="item__title">
                                    <h3>Are absolutes natural?</h3>
                                    <span class="arrow__icon">
                                        <svg>
                                            <use xlink:href="#icon-arrow-down"></use>
                                        </svg>
                                    </span>
                                </div>
                                <div class="item__detail" style="height: 0">
                                    <div class="item__body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                            tempor
                                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                            nostrud.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="faq__item">
                                <div class="item__title">
                                    <h3>What does an absolute look like?</h3>
                                    <span class="arrow__icon">
                                        <svg>
                                            <use xlink:href="#icon-arrow-down"></use>
                                        </svg>
                                    </span>
                                </div>
                                <div class="item__detail" style="height: 0">
                                    <div class="item__body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                            tempor
                                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                            nostrud.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="faq__item">
                                <div class="item__title">
                                    <h3>Do absolutes have a stronger scent than essential oils?</h3>
                                    <span class="arrow__icon">
                                        <svg>
                                            <use xlink:href="#icon-arrow-down"></use>
                                        </svg>
                                    </span>
                                </div>
                                <div class="item__detail" style="height: 0">
                                    <div class="item__body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                            tempor
                                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                            nostrud.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="faq__item">
                                <div class="item__title">
                                    <h3>Can absolutes be used in natural or organic perfumes?</h3>
                                    <span class="arrow__icon">
                                        <svg>
                                            <use xlink:href="#icon-arrow-down"></use>
                                        </svg>
                                    </span>
                                </div>
                                <div class="item__detail" style="height: 0">
                                    <div class="item__body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                            tempor
                                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                            nostrud.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="faq__main">
                        <img fetchpriority="low" loading="lazy" src="images/faq-main.jpg" width="632" height="412"
                            alt="img" />
                    </div>
                </div>
                <%= htmlWebpackPlugin.options.footer %>
    </div>

    <!--Script-->
    <%= htmlWebpackPlugin.options.preload %>
        <script src="js/index.js"></script>
        <script type="module" src="js/common.js"></script>
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</body>

</html>